<template>
    <section>
        <div class="ct-info col-12">
            <div class="row">
                <div class="col-12 ct-text-op">
                <div class="row line-cart">
                    <div class="col-12 col-md-4 box">
                        <div class="row justify-content-md-start justify-content-center">
                            <span class="label_detail" v-bind:class="{active: step==1}">Detalle</span>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 box">
                        <div class="row justify-content-center">
                            <span class="label_payment" v-bind:class="{active: step==2}">Pago</span>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 box">
                        <div class="row justify-content-md-end justify-content-center">
                            <span class="label_voucher" v-bind:class="{active: step==3}">Comprobante</span>
                        </div>
                    </div>
                </div>
                </div>

                <div class="col-12 mt-5">
                    <span v-if="loading" class="text-gray d-block text-center">Cargando...</span>
                    <h1 v-if="event.name!=''" class="d-block mb-0 text-center text-uppercase">{{event.name}}</h1>
                </div>

                <div v-if="step===1 && !loading" class="col-12 ct-detail">

                    <span class="d-block text-center text-gray">
                        Seleccione una fecha
                    </span>
                    <datepicker v-model="date" 
                                class="d-table m-auto pb-5" 
                                :disabledDates="calendar.disabledDates"
                                @selected="pickDate"
                                :language="calendar.language"></datepicker>

                    
                    <div class="row">
                        <div class="d-block w-100">

                            <div class="ct-piece" v-for="(ticket, i) in tickets" :key="`row-${i}`" @click="()=>checkAvailability(ticket.id)">
                                <b>{{ticket.description}}</b>
                                <span class="d-block">{{ticket.price}} CLP</span>
                            </div>

                            <p v-if="loading===false && tickets.length==0" class="d-block text-center">No hay resultados para este día</p>

                            <!-- <a @click="send" class="btn-signup d-flex justify-content-center" v-bind:class="{active : true}">Inscríbete ahora</a> -->
                        </div>
                    </div>
                </div>

                <div v-if="step===2 && !loading" class="col-12 ct-payment">
                
                    <div class="ct-piece mb-5" v-if="ticket" >
                        <b>{{tickets[0].description}}</b>
                        <span class="d-block">{{tickets[0].price}} CLP</span>
                    </div>

                    <div id="form-payment">
                        <div class="row justify-content-md-center">
                            <div class="col-12 col-md-6 col-lg-4 ct-inputs">
                                <p>Datos básicos </p>
                                <div action="#" method="POST" id="form-payment">
                                    <input type="text" class="form-control mb-3" :class="{error: $v.client.name.$error}" v-model.trim="$v.client.name.$model" placeholder="Nombre" required>
                                    <input type="text" class="form-control mb-3" :class="{error: $v.client.lastname.$error}" v-model.trim="$v.client.lastname.$model" placeholder="Apellido" required>
                                    <input type="number" class="form-control mb-3" :class="{error: $v.client.amount.$error}" v-model.trim="$v.client.amount.$model" placeholder="Cantidad"  min="1" :max="event.ticket.max">
                                    <select v-model="client.country" name="country" id="country" class="form-control mb-3" required>
                                        <option value="" disabled>País</option>
                                        <option value="chile">Chile</option>
                                    </select>
                                    <div class="d-flex align-items-center mb-3">
                                        <select v-model="$v.client.type_identification.$model" :class="{error: $v.client.type_identification.$error}" name="typedoc" id="typedoc" class="form-control typedoc">
                                            <option value="">Seleccione</option>
                                            <option value="RUT">RUT</option>
                                            <option value="Pasaporte">Pasaporte</option>
                                            <option value="DNI">DNI</option>
                                        </select>
                                        <input v-model="$v.client.identification.$model" :class="{error: $v.client.identification.$error}" type="text" class="form-control numberdoc ml-2" placeholder="Número de documento">
                                    </div>
                                    <input type="email" v-model="$v.client.email.$model" :class="{error: $v.client.email.$error}" class="form-control mail mb-3" placeholder="Email" required>
                                    <input type="text" v-model="$v.client.phone.$model" :class="{error: $v.client.phone.$error}" class="form-control mb-3" placeholder="Teléfono">
                                    <a @click="checkData" class="btn-signup d-flex justify-content-center" v-bind:style="{ filter: 'grayscale('+($v.$invalid==true? '1' : '0')+')' }">Aceptar</a>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4 ct-method">
                                <p>Método de pago</p>
                                <div class="ct-types">
                                    <div class="my-3">
                                        <div class="form-check">
                                            <input class="form-check-input" checked type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                            <label class="form-check-label text-left" for="inlineRadio1"><img src="/images/webpay.png" alt="webpay"></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="my-3 others">
                                    <img src="/images/others-cards.png" alt="">
                                </div>
                            </div>
                            <div v-if="!$v.$invalid && form.token!=''" class="col-12 col-md-12 col-lg-4 ct-voucher-pay">
                                <form :action="form.url" class="piece" method="post">
                                    <input type="text" class="d-none" v-model="form.token" value="" name="TBK_TOKEN">
                                    <p>Valor total es:<br> <span>${{form.total}}</span></p>
                                    <button class="btn-pay">Ir a pagar</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
</template>

<script>

import { required, minLength, maxLength, email, numeric } from 'vuelidate/lib/validators';
import Datepicker from 'vuejs-datepicker';
import {es} from 'vuejs-datepicker/dist/locale';
import { rutValidator } from 'vue-dni'

export default {
    data () {
        return {
            calendar:{
                language: es,
                disabledDates : {
                    customPredictor : null
                },
                dates: {}
            },
            date: new Date(),
            event: {
                name: "",
                ticket: {
                    max: 3,
                    price: 0
                }
            },
            step: 1,
            form: {
                url: "",
                token: "",
                total: 0
            },
            validForm: false,
            loading: true,
            tickets: [],
            client: {
                name: "", 
                lastname:"", 
                identification:"" , 
                country: "chile",
                email:"",
                phone:"" , 
                type_identification: "", 
                id_ticket_event:1, 
                amount:1
            }
        }
    },
    components: {
        Datepicker
    },
    props: ['id','ticket'], 
    mounted() {
        console.log(typeof this.ticket,' ==> Component mounted. el id es :  ',this.id)

        if(typeof this.ticket==='undefined'){
            axios.get(`/api/event/${this.id}`)
            .then(({data})=>{

                // data.calendar no existe si el evento no tienen dias o ya paso
                this.loading = false;
                const eventsDates = typeof data.calendar != 'undefined' ? Object.keys(data.calendar) : null;
                
                // funcion para hacer disable las fechas
                const customPredictor = typeof data.calendar != 'undefined' ? (date) => {
                    // console.log("entrando a la funcion de disable ",date.toJSON().split('T')[0],eventsDates);
                    const today = new Date();
                    
                    // disables the date if it is a multiple of 5
                    if(eventsDates.indexOf(date.toJSON().split('T')[0])===-1 || (today.getTime() > date.getTime() )){
                        return true
                    }
                } : () => true;

                this.event.name = data.event.name;
                this.client.id_ticket_event = this.id;
                this.calendar.disabledDates = {customPredictor};
                this.calendar.dates = data.calendar;
                this.pickDate(this.date);

                
            })
        }else{
            console.log("buscar en otro lugares");
            this.checkAvailability(this.ticket);
        }
    },
    methods: {
        send : function(){
            console.log(" enviando la informacion ",this.client.name);

            if (this.$v.$invalid) {
                console.log("esto es invalido"); 
            }else{
                console.log("sta cosa es valido"); 
            }

        },
        pickDate: function(val){
            const dateString = val.toJSON().split('T')[0];
            console.log("this.calendar.dates[dateString] ",this.calendar.dates[dateString]);
            
            this.tickets = typeof this.calendar.dates[dateString] != 'undefined' ?
                            this.calendar.dates[dateString] : [];
        },
        checkAvailability: function(id){
            console.log("entrando en el date !! ",id);

             this.client.id_ticket_event  = id;

            axios.get(`/api/ticket_event/${id}`)
            .then(({data})=>{

                if(data.ticket_events.avaible>0){
                    console.log("si tengo");
                    this.step = 2;

                    const newdata = {
                        max: data.ticket_events.avaible,
                        price: data.ticket_events.price
                    }

                    console.log(newdata);

                    this.loading=false;
                    this.event.name=data.events.name;

                    console.log("entrando en la cosa esta ara tiquets =================" );

                    if(typeof this.ticket !== 'undefined'){

                        console.log(" ============== entrando en la cosa esta ara tiquets ============== ");

                        const tikets = [
                            {
                                description: data.ticket_events.description,
                                price: data.ticket_events.price
                            }
                        ]
                        
                        this.tickets = tikets;
                    }
                    

                    // this.event.ticket = newdata;

                }else{
                    alert("no hay disponibilidad para esta fecha");
                }
                
            })
            
        },
        checkData: function(){
            
            if (this.$v.$invalid) {
                console.log("esto es invalido"); 
                if(this.validForm==true) this.validForm = false;

            }else{
                console.log("sta cosa es valido"); 
                this.loading = true;

                axios.post('/api/buyer',this.client)
                .then(({data})=>{
                    console.log("lo que retorno fue ",data.webpay.initResult);

                    const aux = {
                        ...data.webpay.initResult,
                        total: data.webpay.total
                    }
                    this.form = aux;
                    this.loading= false;
                })
                // this.validForm = true;
            }
            
        }
    },
    validations: {
        client: {
            name: {
                required,
                minLength: minLength(3)
            },
            lastname: {
                required,
            },
            type_identification: {
                required,
            },
            identification: {
                required,
                maxLength: maxLength(11),
                mustBeCool: (value,states) => {

                    if(states.type_identification==='RUT'){

                        console.log(rutValidator(value));
                        
                        return rutValidator(value);
                    }else {
                        return true; 
                    }
                                       
                }
            },
            email: {
                required,
                email
            },
            amount: {
                numeric,
                required
            },
            phone: {
                required,
                numeric,
                maxLength: maxLength(11)
            }
        }
    }
}


</script>

<style>
    .btn-signup{
        background-color: #00aa9e;
        border: none;
        color: #FFF !important;
        cursor: pointer;
        font-family: 'Roboto-Medium';
        font-size: 14px;
        letter-spacing: 3px;
        margin: 0 auto;
        margin-top: 0px;
        margin-top: 1em;
        padding: 1em 2em;
        text-decoration: none;
        text-transform: uppercase;
        width: 20em;
    }

    .form-control.error{
        border: 1px solid red;
    }

    .ct-piece{
        background-color: #eeeeee;
        border-radius: 5px;
        display: table;
        font-family: 'Roboto-Regular';
        margin: 0 auto;
            margin-bottom: 0px;
        margin-bottom: 1em;
        padding: 3em;
        -webkit-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        width: 100%;
    }
</style>
