/* ROBOTO */
@font-face {
  font-family: 'Roboto-Regular';
  src: url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto-Bold';
  src: url("../fonts/Roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto-Medium';
  src: url("../fonts/Roboto/Roboto-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto-Light';
  src: url("../fonts/Roboto/Roboto-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* BEBAS_NEUE */
@font-face {
  font-family: 'BebasNeue-Regular';
  src: url("../fonts/bebas_neue/BebasNeue-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
header {
  background: #FFF;
}
.shadow-nav.active {
  background: #555555;
  height: 100%;
  opacity: 0.6;
  position: fixed;
  width: 100%;
  -webkit-transition: 0.8s all;
  -o-transition: 0.8s all;
  transition: 0.8s all;
  z-index: 1;
}
.ct-nav-mobile .menu-opener {
  display: block;
  visibility: visible;
  cursor: pointer;
  height: 65px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: 0.8s all;
  -o-transition: 0.8s all;
  transition: 0.8s all;
  width: 64px;
  z-index: 2;
}
@media screen and (min-width: 767.98px) {
  .ct-nav-mobile .menu-opener {
    display: none;
    visibility: hidden;
  }
}
.ct-nav-mobile .menu-opener:hover {
  -webkit-transition: 0.8s all;
  -o-transition: 0.8s all;
  transition: 0.8s all;
}
.ct-nav-mobile .menu-opener.active {
  -webkit-transition: 0.8s all;
  -o-transition: 0.8s all;
  transition: 0.8s all;
}
@media screen and (max-width: 767.98px) {
  .ct-nav-mobile .menu-opener.active {
    position: fixed;
  }
}
.ct-nav-mobile .menu-opener .menu-opener-inner {
  background: #555555;
  height: .5rem;
  margin-left: .75rem;
  margin-top: 1.75rem;
  width: 2.5rem;
}
.ct-nav-mobile .menu-opener .menu-opener-inner:before {
  background: #555555;
  content: '';
  display: block;
  height: .5rem;
  width: 2.5rem;
  -webkit-transform: translateY(-0.75rem);
  -ms-transform: translateY(-0.75rem);
  transform: translateY(-0.75rem);
  -webkit-transition: 0.8s all;
  -o-transition: 0.8s all;
  transition: 0.8s all;
}
.ct-nav-mobile .menu-opener .menu-opener-inner:after {
  background: #555555;
  content: '';
  display: block;
  height: .5rem;
  width: 2.5rem;
  -webkit-transform: translateY(0.25rem);
  -ms-transform: translateY(0.25rem);
  transform: translateY(0.25rem);
  -webkit-transition: 0.8s all;
  -o-transition: 0.8s all;
  transition: 0.8s all;
}
.ct-nav-mobile .menu-opener .menu-opener-inner.active {
  background: transparent;
}
.ct-nav-mobile .menu-opener .menu-opener-inner.active::before {
  -webkit-transform: translateY(0rem) rotate(-45deg);
  -ms-transform: translateY(0rem) rotate(-45deg);
  transform: translateY(0rem) rotate(-45deg);
}
.ct-nav-mobile .menu-opener .menu-opener-inner.active::after {
  -webkit-transform: translateY(-0.5rem) translateX(0rem) rotate(45deg);
  -ms-transform: translateY(-0.5rem) translateX(0rem) rotate(45deg);
  transform: translateY(-0.5rem) translateX(0rem) rotate(45deg);
}
.ct-nav-mobile .menu-mobile {
  display: block;
  visibility: visible;
  background-image: url(../images/bk-footer-form-2.png);
  background-color: #FFF;
  -moz-transform: scaleX(-1);
  /* Firefox */
  -o-transform: scaleX(-1);
  /* Opera */
  -webkit-transform: scaleX(-1);
  /* Chrome y Safari */
  -ms-transform: scaleX(-1);
  transform: scaleX(-1);
  /* w3org */
  -webkit-filter: FlipH;
  filter: FlipH;
  /* Internet Explorer */
  color: transparent;
  height: 64px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 0rem;
  -webkit-transition: 0.8s all;
  -o-transition: 0.8s all;
  transition: 0.8s all;
}
@media screen and (min-width: 767.98px) {
  .ct-nav-mobile .menu-mobile {
    display: none;
    visibility: hidden;
  }
}
@media screen and (max-width: 768px) {
  .ct-nav-mobile .menu-mobile {
    height: auto;
  }
}
.ct-nav-mobile .menu-mobile.active {
  -webkit-transition: 0.8s all;
  -o-transition: 0.8s all;
  transition: 0.8s all;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .ct-nav-mobile .menu-mobile.active {
    position: fixed;
    z-index: 1;
  }
}
.ct-nav-mobile .menu-mobile.active .menu-link {
  color: #555555;
  font-family: 'Roboto-Regular';
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}
.ct-nav-mobile .menu-mobile.active .menu-link li {
  -moz-transform: scaleX(-1);
  /* Firefox */
  -o-transform: scaleX(-1);
  /* Opera */
  -webkit-transform: scaleX(-1);
  /* Chrome y Safari */
  -ms-transform: scaleX(-1);
  transform: scaleX(-1);
  /* w3org */
  -webkit-filter: FlipH;
  filter: FlipH;
  /* Internet Explorer */
}
.ct-nav-mobile .menu-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  height: 100%;
  list-style-type: none;
  margin: 0;
  padding: 1em 0;
}
@media screen and (max-width: 768px) {
  .ct-nav-mobile .menu-inner {
    display: block;
  }
}
.ct-nav-mobile .menu-inner .menu-link {
  color: transparent;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  font-size: 2rem;
  font-weight: 100;
  height: 100%;
  text-align: center;
  text-decoration: none;
}
@media screen and (max-width: 768px) {
  .ct-nav-mobile .menu-inner .menu-link {
    padding: 10px 0;
    font-size: 1.2em;
  }
}
.ct-nav-mobile .menu-inner .menu-link li {
  margin: auto;
}
.ct-home header .ct-nav {
  border-bottom: 1px solid #dcdcdc;
  display: block;
  visibility: visible;
}
@media screen and (max-width: 767.98px) {
  .ct-home header .ct-nav {
    display: none;
    visibility: hidden;
  }
}
.ct-home header .ct-nav nav {
  display: table;
  margin: 0 auto;
  padding: 2vw 0px;
}
.ct-home header .ct-nav nav a {
  color: #282828;
  font-family: 'Roboto-Medium';
  font-size: 1.2vw;
  display: table-cell;
  padding: 0px 1em;
  text-decoration: none;
}
.ct-home header .ct-banner {
  background-image: url(../images/bk-banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 6vw;
}
@media screen and (max-width: 767.98px) {
  .ct-home header .ct-banner {
    margin-top: 4em;
  }
}
.ct-home header .ct-banner .ct-logos img {
  padding: 2vw 6vw;
  width: 100%;
}
@media screen and (max-width: 767.98px) {
  .ct-home header .ct-banner .ct-logos img {
    width: 48%;
  }
}
.ct-home header .ct-banner .ct-logos img:nth-child(1) {
  margin-top: 10vw;
}
@media screen and (max-width: 767.98px) {
  .ct-home header .ct-banner .ct-logos img:nth-child(1) {
    margin-top: 0;
  }
}
@media screen and (max-width: 767.98px) {
  .ct-home header .ct-banner .ct-logos br {
    display: none;
  }
}
.ct-home header .ct-banner .text-banner {
  margin-top: 3.2vw;
}
.ct-home header .ct-banner .text-banner h1 {
  font-family: 'BebasNeue-Regular';
  font-size: 10vw;
  line-height: 0.85;
  margin-top: 4vw;
}
@media screen and (max-width: 767.98px) {
  .ct-home header .ct-banner .text-banner h1 {
    font-size: 6em;
  }
}
@media screen and (max-width: 575.98px) {
  .ct-home header .ct-banner .text-banner h1 {
    font-size: 18vw;
  }
}
.ct-home header .ct-banner .text-banner h2 {
  font-family: 'Roboto-Regular';
  font-size: 2.5vw;
  text-transform: uppercase;
}
@media screen and (max-width: 767.98px) {
  .ct-home header .ct-banner .text-banner h2 {
    font-size: 18px;
  }
}
@media screen and (max-width: 575.98px) {
  .ct-home header .ct-banner .text-banner h2 {
    font-size: 4vw;
  }
}
.ct-home header .ct-banner .text-banner h2 span {
  background-color: #fde500;
  padding: 0px 0.4em;
}
.ct-home header .ct-banner .btn-program {
  background: #282828;
  border: none;
  color: #FFF;
  cursor: pointer;
  font-family: 'Roboto-Medium';
  font-size: 1.2vw;
  letter-spacing: 5px;
  margin-top: 1.5em;
  padding: 1em 5em;
  text-decoration: none;
  text-transform: uppercase;
}
@media screen and (max-width: 767.98px) {
  .ct-home header .ct-banner .btn-program {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 15px;
    margin: 0 auto;
    width: 19em;
  }
}
@media screen and (max-width: 319.98px) {
  .ct-home header .ct-banner .btn-program {
    font-size: 12px;
  }
}
.ct-home header .ct-banner .btn-program span {
  margin: 0 auto;
}
.ct-home main {
  background-color: #eeeeee;
}
.ct-home main .ct-about {
  border-collapse: separate;
  border-spacing: 2vw 0px;
  padding: 2em 6vw;
}
@media screen and (max-width: 767.98px) {
  .ct-home main .ct-about {
    padding: 2em;
  }
}
.ct-home main .ct-about .date {
  background-color: #fde500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'BebasNeue-Regular';
  font-size: 6vw;
  line-height: 0.8;
  padding: 5.7vw;
  width: 4em;
}
@media screen and (min-width: 991.98px) {
  .ct-home main .ct-about .date {
    height: 5em;
  }
}
@media screen and (max-width: 991.98px) {
  .ct-home main .ct-about .date {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: .8em;
    width: 100%;
  }
}
@media screen and (max-width: 767.98px) {
  .ct-home main .ct-about .date {
    font-size: 3em;
  }
}
.ct-home main .ct-about .date span {
  margin: 0 auto;
  padding-top: 20px;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .ct-home main .ct-about .date span {
    padding-top: 0 !important;
  }
}
@media screen and (max-width: 991.98px) {
  .ct-home main .ct-about .date span {
    margin: 0 auto;
    padding: 0;
    position: relative;
  }
}
.ct-home main .ct-about .text-about {
  background-color: #FFF;
  left: 30px;
  padding: 4vw 8vw;
}
@media screen and (max-width: 991.98px) {
  .ct-home main .ct-about .text-about {
    left: 0px;
  }
}
@media screen and (max-width: 767.98px) {
  .ct-home main .ct-about .text-about {
    padding: 4vw 8vw 10vw 8vw;
  }
}
.ct-home main .ct-about .text-about h2 {
  font-family: 'BebasNeue-Regular';
  font-size: 3em;
}
@media screen and (max-width: 575.98px) {
  .ct-home main .ct-about .text-about h2 {
    font-size: 2.5em;
    text-align: center;
  }
}
.ct-home main .ct-about .text-about p {
  font-family: 'Roboto-Light';
  font-size: 14px;
  text-align: justify;
}
.ct-home main .ct-about .text-about .btn-program {
  background-color: #00aa9e;
  border: none;
  color: #FFF;
  cursor: pointer;
  font-family: 'Roboto-Medium';
  font-size: 14px;
  letter-spacing: 3px;
  padding: 1em 2em;
  text-decoration: none;
  text-transform: uppercase;
}
@media screen and (max-width: 575.98px) {
  .ct-home main .ct-about .text-about .btn-program {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
  }
}
@media screen and (max-width: 319.98px) {
  .ct-home main .ct-about .text-about .btn-program {
    font-size: 12px;
  }
}
.ct-home main .ct-about .text-about .btn-program span {
  margin: 0 auto;
}
.ct-home main .ct-speakers {
  background-color: #00aa9e;
  border-collapse: separate;
  border-spacing: 2vw 0px;
  padding: 4em;
  width: 100%;
}
@media screen and (max-width: 991.98px) {
  .ct-home main .ct-speakers {
    padding: 4vw 0px 8vw 0px;
  }
}
@media screen and (max-width: 991.98px) {
  .ct-home main .ct-speakers .row {
    margin-left: 0px;
    margin-right: 0px;
  }
}
.ct-home main .ct-speakers .row .title {
  font-family: 'BebasNeue-Regular';
}
@media screen and (max-width: 991.98px) {
  .ct-home main .ct-speakers .row .title {
    margin: 2em 0px;
    text-align: center;
  }
}
@media screen and (min-width: 991.98px) {
  .ct-home main .ct-speakers .row .title {
    padding: 5em 0;
  }
}
.ct-home main .ct-speakers .row .title h2 {
  font-size: 4vw;
}
@media screen and (max-width: 991.98px) {
  .ct-home main .ct-speakers .row .title h2 {
    font-size: 2.5em;
    margin: 0 auto;
  }
}
.ct-home main .ct-speakers .row .international-speakers {
  margin: 0 auto;
}
.ct-home main .ct-speakers .row .international-speakers .speaker {
  text-align: center;
}
@media screen and (max-width: 767.98px) {
  .ct-home main .ct-speakers .row .international-speakers .speaker {
    display: block;
    margin: 2em 0px;
  }
}
.ct-home main .ct-speakers .row .international-speakers .speaker img {
  margin-bottom: 1em;
  width: 12vw;
}
@media screen and (max-width: 991.98px) {
  .ct-home main .ct-speakers .row .international-speakers .speaker img {
    width: 10em;
  }
}
.ct-home main .ct-speakers .row .international-speakers .speaker span {
  color: #2f2f2f;
  font-weight: bold;
}
.ct-home main .ct-speakers .row .international-speakers .speaker ul {
  list-style: none;
  padding-left: 0px;
  margin-bottom: 0px;
}
.ct-home main .ct-speakers .row .international-speakers .speaker ul li {
  display: inline-block;
}
.ct-home main .ct-speakers .row .international-speakers .speaker ul li a {
  color: #2f2f2f;
  text-decoration: none;
}
.ct-home main .ct-speakers .row .international-speakers .speaker ul li a svg {
  font-size: 2em;
  padding: 0px 5px;
}
.ct-home main .ct-info {
  padding: 2em 6vw 2em 6vw;
}
@media screen and (max-width: 767.98px) {
  .ct-home main .ct-info {
    padding: 2em;
  }
}
@media screen and (max-width: 1199.98px) {
  .ct-home main .ct-info .box {
    display: block;
  }
}
@media screen and (max-width: 1199.98px) {
  .ct-home main .ct-info .box .row {
    display: block;
  }
}
.ct-home main .ct-info .box .row .img-info {
  margin: 0 auto;
  width: 50%;
}
.ct-home main .ct-info .box .row .img-info img {
  width: 100%;
}
@media screen and (max-width: 1199.98px) {
  .ct-home main .ct-info .box .row .img-info {
    display: block;
    width: 70%;
  }
}
@media screen and (max-width: 575.98px) {
  .ct-home main .ct-info .box .row .img-info {
    width: 100%;
  }
}
.ct-home main .ct-info .box .row .ct-info-inner {
  background-color: #FFF;
  margin: 0 auto;
  padding: 2em;
  width: 50%;
}
@media screen and (max-width: 1199.98px) {
  .ct-home main .ct-info .box .row .ct-info-inner {
    display: block;
    width: 70%;
  }
}
@media screen and (max-width: 575.98px) {
  .ct-home main .ct-info .box .row .ct-info-inner {
    width: 100%;
  }
}
.ct-home main .ct-info .box .row .ct-info-inner h2 {
  font-family: 'Roboto-Light';
  font-size: 24px;
}
@media screen and (max-width: 1199.98px) {
  .ct-home main .ct-info .box .row .ct-info-inner h2 {
    font-size: 26px;
  }
}
.ct-home main .ct-info .box .row .ct-info-inner p {
  font-family: 'Roboto-Light';
  font-size: 14px;
  text-align: justify;
}
@media screen and (max-width: 1239.98px) and (min-width: 1199.98px) {
  .ct-home main .ct-info .box .row .ct-info-inner p {
    font-size: 12px;
  }
}
@media screen and (max-width: 1199.98px) {
  .ct-home main .ct-info .box .row .ct-info-inner p {
    font-size: 14px;
  }
}
.ct-home main .ct-info .box .row .ct-info-inner a {
  color: #00aa9e;
  font-family: 'Roboto-Medium';
  text-transform: uppercase;
  font-size: 14px;
}
.ct-home main .ct-important-dates {
  padding: 2vw 6vw;
}
@media screen and (max-width: 767.98px) {
  .ct-home main .ct-important-dates {
    padding: 2vw 1em 2em 1em;
  }
}
.ct-home main .ct-important-dates section {
  background-color: #FFF;
  padding: 2.5em 8vw;
}
@media screen and (max-width: 767.98px) {
  .ct-home main .ct-important-dates section {
    padding: 2.5em 2vw;
  }
}
.ct-home main .ct-important-dates section h2 {
  display: block;
  font-family: 'BebasNeue-Regular';
  font-size: 3em;
  margin-bottom: .5em;
  text-transform: uppercase;
}
@media screen and (max-width: 767.98px) {
  .ct-home main .ct-important-dates section h2 {
    font-size: 2.5em;
    margin-bottom: .5em;
  }
}
.ct-home main .ct-important-dates section .ct-info-dates .ct-box {
  padding: 2em;
  width: 50%;
}
@media screen and (max-width: 767.98px) {
  .ct-home main .ct-important-dates section .ct-info-dates .ct-box {
    padding: 0;
    width: 100%;
  }
}
@media screen and (max-width: 767.98px) {
  .ct-home main .ct-important-dates section .ct-info-dates .ct-box .row {
    margin-right: 0;
    margin-left: 0;
  }
}
.ct-home main .ct-important-dates section .ct-info-dates .ct-box .row .box h3 {
  color: #00aa9e;
  font-family: 'BebasNeue-Regular';
}
@media screen and (max-width: 575.98px) {
  .ct-home main .ct-important-dates section .ct-info-dates .ct-box .row .box h3 {
    font-size: 26px;
  }
}
.ct-home main .ct-important-dates section .ct-info-dates .ct-box .row .box .text-box {
  font-family: 'Roboto-Regular';
}
.ct-home main .ct-important-dates section .ct-info-dates .ct-box .row .box .text-box p {
  font-size: 14px;
}
.ct-home main .ct-important-dates section .ct-info-dates .ct-box .row .box .text-box p:nth-child(2) {
  text-align: justify;
}
.ct-home main .ct-signup {
  padding: 2vw 6vw;
}
@media screen and (max-width: 767.98px) {
  .ct-home main .ct-signup {
    padding: 2vw 4vw;
  }
}
.ct-home main .ct-signup section {
  background-color: #FFF;
  padding: 2.5em;
  text-align: center;
}
@media screen and (max-width: 767.98px) {
  .ct-home main .ct-signup section {
    padding: 1em;
    padding-bottom: 4em;
  }
}
@media screen and (max-width: 575.98px) {
  .ct-home main .ct-signup section {
    padding: 3em 1em;
  }
}
.ct-home main .ct-signup section h2 {
  font-family: 'BebasNeue-Regular';
  font-size: 3em;
  margin-bottom: 1em;
}
.ct-home main .ct-signup section .ct-piece {
  background-color: #eeeeee;
  border-radius: 5px;
  display: table;
  font-family: 'Roboto-Regular';
  margin: 0 auto;
  margin-bottom: 1em;
  padding: 1em;
  width: 100%;
}
.ct-home main .ct-signup section .ct-piece .column {
  display: table-cell;
}
@media screen and (max-width: 767.98px) {
  .ct-home main .ct-signup section .ct-piece .column {
    display: block;
    margin: 0 auto;
  }
}
.ct-home main .ct-signup section .ct-piece .column:nth-child(1) {
  font-size: 3vw;
  vertical-align: middle;
  width: 25%;
}
@media screen and (max-width: 767.98px) {
  .ct-home main .ct-signup section .ct-piece .column:nth-child(1) {
    font-size: 2em;
    width: auto;
  }
}
.ct-home main .ct-signup section .ct-piece .column:nth-child(2) {
  text-align: left;
  padding-top: 1.4vw;
  width: 55%;
}
.ct-home main .ct-signup section .ct-piece .column:nth-child(2) h6 {
  font-size: 16px;
  font-weight: bold;
}
@media screen and (max-width: 991.98px) {
  .ct-home main .ct-signup section .ct-piece .column:nth-child(2) h6 {
    font-size: 14px;
  }
}
.ct-home main .ct-signup section .ct-piece .column:nth-child(2) p {
  font-size: 14px;
  vertical-align: middle;
}
@media screen and (max-width: 991.98px) {
  .ct-home main .ct-signup section .ct-piece .column:nth-child(2) p {
    font-size: 12px;
  }
}
@media screen and (max-width: 767.98px) {
  .ct-home main .ct-signup section .ct-piece .column:nth-child(2) {
    text-align: center;
    width: auto;
  }
}
.ct-home main .ct-signup section .ct-piece .column:nth-child(3) {
  vertical-align: middle;
  width: 20%;
}
.ct-home main .ct-signup section .ct-piece .column:nth-child(3) .number {
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  padding: 14px;
  width: 6vw;
}
@media screen and (max-width: 767.98px) {
  .ct-home main .ct-signup section .ct-piece .column:nth-child(3) .number {
    padding: 10px;
    width: 70px;
  }
}
@media screen and (max-width: 767.98px) {
  .ct-home main .ct-signup section .ct-piece .column:nth-child(3) {
    width: auto;
  }
}
.ct-home main .ct-signup section .ct-piece-promotion {
  background-color: #eeeeee;
  border-radius: 5px;
  display: table;
  font-family: 'Roboto-Regular';
  margin: 0 auto;
  margin-bottom: 1em;
  padding: 2em;
  width: 100%;
}
@media screen and (max-width: 575.98px) {
  .ct-home main .ct-signup section .ct-piece-promotion {
    padding: 1em;
  }
}
.ct-home main .ct-signup section .ct-piece-promotion .column {
  display: table-cell;
}
@media screen and (max-width: 991.98px) {
  .ct-home main .ct-signup section .ct-piece-promotion .column {
    display: block;
    margin: 0 auto;
  }
}
.ct-home main .ct-signup section .ct-piece-promotion .column:nth-child(1) {
  font-size: 18px;
  text-align: left;
  vertical-align: middle;
  width: 65%;
}
.ct-home main .ct-signup section .ct-piece-promotion .column:nth-child(1) span {
  margin-left: 4.6vw;
}
@media screen and (max-width: 991.98px) {
  .ct-home main .ct-signup section .ct-piece-promotion .column:nth-child(1) span {
    margin-left: 0px;
  }
}
@media screen and (max-width: 991.98px) {
  .ct-home main .ct-signup section .ct-piece-promotion .column:nth-child(1) {
    text-align: center;
    width: auto;
  }
}
.ct-home main .ct-signup section .ct-piece-promotion .column:nth-child(2) {
  text-align: right;
  width: 35%;
}
.ct-home main .ct-signup section .ct-piece-promotion .column:nth-child(2) .input-group {
  right: 5vw;
}
.ct-home main .ct-signup section .ct-piece-promotion .column:nth-child(2) .input-group .form-control {
  font-size: 14px;
}
@media screen and (max-width: 575.98px) {
  .ct-home main .ct-signup section .ct-piece-promotion .column:nth-child(2) .input-group .form-control {
    font-size: 13px;
  }
}
.ct-home main .ct-signup section .ct-piece-promotion .column:nth-child(2) .input-group .input-group-append .btn {
  background-color: #282828;
  color: #FFF;
  font-size: 14px;
  letter-spacing: 2px;
}
@media screen and (max-width: 575.98px) {
  .ct-home main .ct-signup section .ct-piece-promotion .column:nth-child(2) .input-group .input-group-append .btn {
    font-size: 10px;
  }
}
@media screen and (max-width: 991.98px) {
  .ct-home main .ct-signup section .ct-piece-promotion .column:nth-child(2) .input-group {
    margin-top: 1em;
    right: 0px;
  }
}
@media screen and (max-width: 991.98px) {
  .ct-home main .ct-signup section .ct-piece-promotion .column:nth-child(2) {
    width: auto;
  }
}
.ct-home main .ct-signup section .btn-program {
  background-color: #00aa9e;
  border: none;
  color: #FFF;
  cursor: pointer;
  font-family: 'Roboto-Medium';
  font-size: 16px;
  letter-spacing: 3px;
  margin-top: 1em;
  padding: 1em 8em;
  text-decoration: none;
  text-transform: uppercase;
}
@media screen and (max-width: 991.98px) {
  .ct-home main .ct-signup section .btn-program {
    font-size: 14px;
  }
}
@media screen and (max-width: 767.98px) {
  .ct-home main .ct-signup section .btn-program {
    font-size: 12px;
    padding: 1em 4em;
    width: 100%;
  }
}
@media screen and (max-width: 319.98px) {
  .ct-home main .ct-signup section .btn-program {
    font-size: 12px;
  }
}
.ct-home main .ct-signup section .btn-program span {
  margin: 0 auto;
}
.ct-home main .ct-collaborators {
  padding: 2vw 6vw 6vw 6vw;
  text-align: center;
}
.ct-home main .ct-collaborators h2 {
  font-family: 'BebasNeue-Regular';
  font-size: 3em;
  margin: 0.5em 0px 1em 0px;
}
.ct-home main .ct-collaborators .collaborators img {
  margin: 0px 1em;
}
@media screen and (max-width: 1149.98px) {
  .ct-home main .ct-collaborators .collaborators img {
    margin: 1em 1em;
  }
}
@media screen and (max-width: 767.98px) {
  .ct-home footer .ct-footer .section {
    text-align: center;
  }
}
.ct-home footer .ct-footer .section:nth-child(1) {
  background-color: #00aa9e;
  padding: 2em;
}
.ct-home footer .ct-footer .section:nth-child(1) a {
  color: #FFF;
  font-family: 'Roboto-Light';
  font-size: 15px;
  margin-left: 8em;
  text-decoration: none;
}
@media screen and (max-width: 1199.98px) {
  .ct-home footer .ct-footer .section:nth-child(1) a {
    margin-left: 2em;
  }
}
@media screen and (max-width: 767.98px) {
  .ct-home footer .ct-footer .section:nth-child(1) a {
    margin: 0;
  }
}
.ct-home footer .ct-footer .section:nth-child(2) {
  background-color: #282828;
  padding: 0.5em 1em;
  text-align: right;
}
@media screen and (max-width: 767.98px) {
  .ct-home footer .ct-footer .section:nth-child(2) {
    text-align: center;
  }
}
.ct-home footer .ct-footer .section:nth-child(2) span {
  color: #555555;
  font-family: 'Roboto-Regular';
  font-weight: bold;
  margin-right: 8em;
  text-align: right;
  text-transform: uppercase;
}
@media screen and (max-width: 1199.98px) {
  .ct-home footer .ct-footer .section:nth-child(2) span {
    margin-right: 2em;
  }
}
@media screen and (max-width: 767.98px) {
  .ct-home footer .ct-footer .section:nth-child(2) span {
    margin: 0;
    text-align: center;
  }
}
.ct-congress {
  background-color: #eeeeee;
}
.ct-congress header .ct-nav {
  background-color: #FFF;
  border-bottom: 1px solid #dcdcdc;
  display: block;
  visibility: visible;
}
@media screen and (max-width: 767.98px) {
  .ct-congress header .ct-nav {
    display: none;
    visibility: hidden;
  }
}
.ct-congress header .ct-nav nav {
  display: table;
  margin: 0 auto;
  padding: 2vw 0px;
}
.ct-congress header .ct-nav nav a {
  color: #282828;
  font-family: 'Roboto-Medium';
  font-size: 1.2vw;
  display: table-cell;
  padding: 0px 1em;
  text-decoration: none;
}
.ct-congress header .ct-banner {
  background-image: url(../images/bk-banner-form.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5vw 4vw;
}
@media screen and (max-width: 767.98px) {
  .ct-congress header .ct-banner {
    margin-top: 4em;
  }
}
.ct-congress header .ct-banner h1 {
  font-family: 'BebasNeue-Regular';
  font-size: 6.8vw;
  line-height: 0.85;
  margin-top: 4vw;
  margin: 0 auto;
  text-align: center;
}
@media screen and (max-width: 767.98px) {
  .ct-congress header .ct-banner h1 {
    font-size: 5em;
  }
}
@media screen and (max-width: 575.98px) {
  .ct-congress header .ct-banner h1 {
    font-size: 12vw;
  }
}
.ct-congress main .ct-about {
  border-collapse: separate;
  border-spacing: 2vw 0px;
  padding: 2em 6vw;
}
@media screen and (max-width: 767.98px) {
  .ct-congress main .ct-about {
    padding: 2em;
  }
}
.ct-congress main .ct-about .date {
  background-color: #fde500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'BebasNeue-Regular';
  font-size: 6vw;
  line-height: 0.8;
  padding: 5.7vw;
  width: 4em;
}
@media screen and (min-width: 991.98px) {
  .ct-congress main .ct-about .date {
    height: 5em;
  }
}
@media screen and (max-width: 991.98px) {
  .ct-congress main .ct-about .date {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: .8em;
    width: 100%;
  }
}
@media screen and (max-width: 767.98px) {
  .ct-congress main .ct-about .date {
    font-size: 3em;
  }
}
.ct-congress main .ct-about .date span {
  margin: 0 auto;
  padding-top: 20px;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .ct-congress main .ct-about .date span {
    padding-top: 0 !important;
  }
}
@media screen and (max-width: 991.98px) {
  .ct-congress main .ct-about .date span {
    margin: 0 auto;
    padding: 0;
    position: relative;
  }
}
.ct-congress main .ct-about .text-about {
  background-color: #FFF;
  left: 30px;
  padding: 4vw 8vw;
}
@media screen and (max-width: 991.98px) {
  .ct-congress main .ct-about .text-about {
    left: 0px;
  }
}
.ct-congress main .ct-about .text-about h2 {
  font-family: 'BebasNeue-Regular';
  font-size: 3em;
  margin-bottom: .5em;
}
@media screen and (max-width: 575.98px) {
  .ct-congress main .ct-about .text-about h2 {
    font-size: 2.5em;
    text-align: center;
  }
}
.ct-congress main .ct-about .text-about p {
  font-family: 'Roboto-Light';
  font-size: 14px;
  text-align: justify;
}
.ct-congress main .ct-about .text-about p a {
  cursor: pointer;
  text-decoration: none;
}
.ct-congress main .ct-info-congress {
  padding: 0 5vw 2vw 5vw;
}
@media screen and (max-width: 767.98px) {
  .ct-congress main .ct-info-congress {
    padding: 2vw 1em 2em 1em;
  }
}
.ct-congress main .ct-info-congress section {
  background-color: #FFF;
  padding: 2.5em 8vw;
}
.ct-congress main .ct-info-congress section h2 {
  display: block;
  font-family: 'BebasNeue-Regular';
  font-size: 3em;
  text-transform: uppercase;
}
@media screen and (max-width: 767.98px) {
  .ct-congress main .ct-info-congress section h2 {
    font-size: 2.5em;
    margin-bottom: .5em;
  }
}
.ct-congress main .ct-info-congress section .ct-info .ct-box {
  padding: 2em;
  width: 50%;
}
@media screen and (max-width: 767.98px) {
  .ct-congress main .ct-info-congress section .ct-info .ct-box {
    padding: 0;
    width: 100%;
  }
}
@media screen and (max-width: 767.98px) {
  .ct-congress main .ct-info-congress section .ct-info .ct-box .row {
    margin-right: 0;
    margin-left: 0;
  }
}
.ct-congress main .ct-info-congress section .ct-info .ct-box .row .box h3 {
  color: #00aa9e;
  font-family: 'BebasNeue-Regular';
}
@media screen and (max-width: 575.98px) {
  .ct-congress main .ct-info-congress section .ct-info .ct-box .row .box h3 {
    font-size: 26px;
  }
}
.ct-congress main .ct-info-congress section .ct-info .ct-box .row .box .text-box {
  font-family: 'Roboto-Regular';
}
.ct-congress main .ct-info-congress section .ct-info .ct-box .row .box .text-box p {
  font-size: 14px;
}
.ct-congress main .ct-info-congress section .ct-info .ct-box .row .box .text-box p:nth-child(2) {
  text-align: justify;
}
.ct-congress main .ct-info-congress section .ct-academic-committee .r-committe {
  margin-top: 2em;
  /* .pagination {
                            display: inline-block;
                            margin: 0 auto;
                            margin-top: 4em;
                            position: relative;
                            .index {
                                cursor: pointer;
                                display: inline;
                                font-family: 'Roboto-Regular';
                                margin-right: .4em;
                                padding: 10px 16px;
                                background: #eeee;
                                border-radius: 100%;
                                user-select: none;
                                -moz-user-select: none;
                              }
                              .index:last-child {
                                margin: 0;
                              }
                              svg {
                                left: -2px;
                                position: absolute;
                                top: -11px;
                                transition: transform 500ms;
                                width: 46px;
                              }
                              path {
                                fill:none;
                                stroke:#4e4e4e;;
                                stroke-dasharray: 150 150;
                                stroke-width:5px;
                              }
                              &.open:not(.flip) path {
                                animation: OpenRight 500ms;
                                background: #FFF;
                              }
                              &.open.flip path {
                                animation: OpenLeft 500ms;
                              }
                              &.i1 svg {
                                transform: translateX(0);
                              }
                              &.i2 svg {
                                transform: translateX(50px);
                              }
                              &.i3 svg {
                                transform: translateX(102px);
                              }
                              &.i4 svg {
                                transform: translateX(154px);
                              }
                              &.i5 svg {
                                transform: translateX(206px);
                              }
                              @keyframes OpenRight {
                                25% { stroke-dasharray: 100 150; }
                                60% { stroke-dasharray: 100 150; }
                                100% { stroke-dasharray: 150 150; }
                              }
                              @keyframes OpenLeft {
                                25% { stroke-dashoffset: -50px; }
                                60% { stroke-dashoffset: -50px; }
                                100% { stroke-dashoffset: 0; }
                              }
                        } */
}
@media screen and (max-width: 991.98px) {
  .ct-congress main .ct-info-congress section .ct-academic-committee .r-committe {
    margin-top: 0;
  }
}
.ct-congress main .ct-info-congress section .ct-academic-committee .r-committe .box-committee {
  padding: 0 1.5em;
}
@media screen and (min-width: 1440px) {
  .ct-congress main .ct-info-congress section .ct-academic-committee .r-committe .box-committee {
    max-width: 16em;
  }
}
@media screen and (max-width: 1439.98px) and (min-width: 992px) {
  .ct-congress main .ct-info-congress section .ct-academic-committee .r-committe .box-committee {
    max-width: 13em;
  }
}
@media screen and (max-width: 991.98px) {
  .ct-congress main .ct-info-congress section .ct-academic-committee .r-committe .box-committee {
    margin-top: 1em;
  }
}
.ct-congress main .ct-info-congress section .ct-academic-committee .r-committe .box-committee .logo-speaker {
  margin-bottom: 1em;
}
.ct-congress main .ct-info-congress section .ct-academic-committee .r-committe .box-committee .sp {
  font-size: 14px;
  margin-bottom: 1em;
}
@media screen and (max-width: 991.98px) {
  .ct-congress main .ct-info-congress section .ct-academic-committee .r-committe .box-committee .sp {
    padding: 1em;
  }
}
@media screen and (max-width: 390.98px) {
  .ct-congress main .ct-info-congress section .ct-academic-committee .r-committe .box-committee .sp {
    padding: 1em .5em;
  }
}
.ct-congress main .ct-info-congress section .ct-academic-committee .r-committe .box-committee .sp b {
  font-size: 16px;
}
.ct-congress main .ct-info-congress section .ct-academic-committee .r-committe .box-committee p {
  font-size: 14px;
  text-align: justify;
}
.ct-congress main .ct-info-congress section .ct-academic-committee .r-committe .box-committee ul {
  list-style: none;
  margin-top: .5em;
  padding-left: 0;
}
.ct-congress main .ct-info-congress section .ct-academic-committee .r-committe .box-committee ul li {
  display: inline-block;
}
.ct-congress main .ct-info-congress section .ct-academic-committee .r-committe .box-committee ul li a i {
  color: #282828;
  padding: 0px 5px;
}
.ct-congress main .ct-info-congress section .ct-academic-committee .r-committe .box-committee ul li a svg {
  color: #282828;
  font-size: 1.8em;
  padding: 0px 5px;
}
.ct-congress main .ct-info-congress section .pagination {
  display: inline-block;
  margin: 0 auto;
  margin-top: 4em;
  position: relative;
}
.ct-congress main .ct-info-congress section .pagination .index {
  cursor: pointer;
  display: inline;
  font-family: 'Roboto-Regular';
  margin-right: .4em;
  padding: 10px 16px;
  background: #eeee;
  border-radius: 100%;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -moz-user-select: none;
}
.ct-congress main .ct-info-congress section .pagination .index:last-child {
  margin: 0;
}
.ct-congress main .ct-info-congress section .pagination svg {
  left: -2px;
  position: absolute;
  top: -11px;
  -webkit-transition: -webkit-transform 500ms;
  transition: -webkit-transform 500ms;
  -o-transition: transform 500ms;
  transition: transform 500ms;
  transition: transform 500ms, -webkit-transform 500ms;
  width: 46px;
}
.ct-congress main .ct-info-congress section .pagination path {
  fill: none;
  stroke: #4e4e4e;
  stroke-dasharray: 150 150;
  stroke-width: 5px;
}
.ct-congress main .ct-info-congress section .pagination.open:not(.flip) path {
  -webkit-animation: OpenRight 500ms;
  animation: OpenRight 500ms;
  background: #FFF;
}
.ct-congress main .ct-info-congress section .pagination.open.flip path {
  -webkit-animation: OpenLeft 500ms;
  animation: OpenLeft 500ms;
}
.ct-congress main .ct-info-congress section .pagination.i1 svg {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}
.ct-congress main .ct-info-congress section .pagination.i2 svg {
  -webkit-transform: translateX(50px);
  -ms-transform: translateX(50px);
  transform: translateX(50px);
}
.ct-congress main .ct-info-congress section .pagination.i3 svg {
  -webkit-transform: translateX(102px);
  -ms-transform: translateX(102px);
  transform: translateX(102px);
}
.ct-congress main .ct-info-congress section .pagination.i4 svg {
  -webkit-transform: translateX(154px);
  -ms-transform: translateX(154px);
  transform: translateX(154px);
}
.ct-congress main .ct-info-congress section .pagination.i5 svg {
  -webkit-transform: translateX(206px);
  -ms-transform: translateX(206px);
  transform: translateX(206px);
}
@-webkit-keyframes OpenRight {
  25% {
    stroke-dasharray: 100 150;
  }
  60% {
    stroke-dasharray: 100 150;
  }
  100% {
    stroke-dasharray: 150 150;
  }
}
@keyframes OpenRight {
  25% {
    stroke-dasharray: 100 150;
  }
  60% {
    stroke-dasharray: 100 150;
  }
  100% {
    stroke-dasharray: 150 150;
  }
}
@-webkit-keyframes OpenLeft {
  25% {
    stroke-dashoffset: -50px;
  }
  60% {
    stroke-dashoffset: -50px;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes OpenLeft {
  25% {
    stroke-dashoffset: -50px;
  }
  60% {
    stroke-dashoffset: -50px;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
.ct-congress main .ct-info-congress section .ct-info .row .ct-box {
  padding: 2em;
  width: 50%;
}
@media screen and (max-width: 767.98px) {
  .ct-congress main .ct-info-congress section .ct-info .row .ct-box {
    padding: 0;
    width: 100%;
  }
}
.ct-congress main .ct-info-congress section .ct-info .row .ct-box .row {
  margin-bottom: 1.5em;
}
.ct-congress main .ct-info-congress section .ct-info .row .ct-box .row h2 {
  display: block;
  font-family: 'BebasNeue-Regular';
  font-size: 3em;
  margin-bottom: .5em;
  text-transform: uppercase;
}
@media screen and (max-width: 767.98px) {
  .ct-congress main .ct-info-congress section .ct-info .row .ct-box .row h2 {
    font-size: 2.5em;
    margin-bottom: .5em;
  }
}
.ct-congress main .ct-info-congress section .ct-info .row .ct-box .row .box h3 {
  color: #00aa9e;
  font-family: 'BebasNeue-Regular';
}
.ct-congress main .ct-info-congress section .ct-info .row .ct-box .row .box .text-box {
  font-family: 'Roboto-Regular';
}
.ct-congress main .ct-info-congress section .ct-info .row .ct-box .row .box .text-box p {
  font-size: 14px;
}
.ct-congress main .ct-info-congress section .ct-info .row .ct-box .row .box .text-box p:nth-child(2) {
  text-align: justify;
}
@media screen and (max-width: 767.98px) {
  .ct-congress footer .ct-footer .section {
    text-align: center;
  }
}
.ct-congress footer .ct-footer .section:nth-child(1) {
  background-color: #00aa9e;
  padding: 2em;
}
.ct-congress footer .ct-footer .section:nth-child(1) a {
  color: #FFF;
  font-family: 'Roboto-Light';
  font-size: 15px;
  margin-left: 8em;
  text-decoration: none;
}
@media screen and (max-width: 1199.98px) {
  .ct-congress footer .ct-footer .section:nth-child(1) a {
    margin-left: 2em;
  }
}
@media screen and (max-width: 767.98px) {
  .ct-congress footer .ct-footer .section:nth-child(1) a {
    margin: 0;
  }
}
.ct-congress footer .ct-footer .section:nth-child(2) {
  background-color: #282828;
  padding: 0.5em 1em;
  text-align: right;
}
@media screen and (max-width: 767.98px) {
  .ct-congress footer .ct-footer .section:nth-child(2) {
    text-align: center;
  }
}
.ct-congress footer .ct-footer .section:nth-child(2) span {
  color: #555555;
  font-family: 'Roboto-Regular';
  font-weight: bold;
  margin-right: 8em;
  text-align: right;
  text-transform: uppercase;
}
@media screen and (max-width: 1199.98px) {
  .ct-congress footer .ct-footer .section:nth-child(2) span {
    margin-right: 2em;
  }
}
@media screen and (max-width: 767.98px) {
  .ct-congress footer .ct-footer .section:nth-child(2) span {
    margin: 0;
    text-align: center;
  }
}
.ct-speakers {
  background-color: #eeeeee;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .ct-speakers .modal .modal-content {
    height: 35em;
  }
}
.ct-speakers .modal .modal-content .modal-header {
  border-bottom: 0px;
}
.ct-speakers .modal .modal-content .modal-header .close span {
  font-size: 2em;
}
.ct-speakers .modal .modal-content .box-speaker-modal {
  padding: 0 4vw 4vw 4vw;
}
@media screen and (max-width: 991.98px) {
  .ct-speakers .modal .modal-content .box-speaker-modal .ct-image {
    margin-bottom: 2em;
  }
}
.ct-speakers .modal .modal-content .box-speaker-modal .ct-image img {
  margin: 0 auto;
}
.ct-speakers .modal .modal-content .box-speaker-modal .info-speaker p {
  margin-top: 1em;
  text-align: justify;
}
.ct-speakers .modal .modal-content .box-speaker-modal .info-speaker ul {
  list-style: none;
  padding-left: 0;
}
.ct-speakers .modal .modal-content .box-speaker-modal .info-speaker ul li {
  display: inline-block;
}
.ct-speakers .modal .modal-content .box-speaker-modal ul {
  list-style: none;
  margin-top: 1em;
  padding-left: 0;
}
.ct-speakers .modal .modal-content .box-speaker-modal ul li {
  display: inline-block;
}
.ct-speakers .modal .modal-content .box-speaker-modal ul li a i {
  color: #282828;
  padding: 0px 5px;
}
.ct-speakers .modal .modal-content .box-speaker-modal ul li a svg {
  color: #282828;
  font-size: 2em;
  padding: 0px 5px;
}
.ct-speakers header .ct-nav {
  background-color: #FFF;
  border-bottom: 1px solid #dcdcdc;
  display: block;
  visibility: visible;
}
@media screen and (max-width: 767.98px) {
  .ct-speakers header .ct-nav {
    display: none;
    visibility: hidden;
  }
}
.ct-speakers header .ct-nav nav {
  display: table;
  margin: 0 auto;
  padding: 2vw 0px;
}
.ct-speakers header .ct-nav nav a {
  color: #282828;
  font-family: 'Roboto-Medium';
  font-size: 1.2vw;
  display: table-cell;
  padding: 0px 1em;
  text-decoration: none;
}
.ct-speakers header .ct-banner {
  background-image: url(../images/bk-banner-other.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5vw 4vw;
}
@media screen and (max-width: 767.98px) {
  .ct-speakers header .ct-banner {
    margin-top: 4em;
  }
}
.ct-speakers header .ct-banner h1 {
  font-family: 'BebasNeue-Regular';
  font-size: 6.8vw;
  line-height: 0.95;
  margin-top: 4vw;
  margin: 0 auto;
  text-align: center;
}
@media screen and (max-width: 767.98px) {
  .ct-speakers header .ct-banner h1 {
    font-size: 5em;
  }
}
@media screen and (max-width: 575.98px) {
  .ct-speakers header .ct-banner h1 {
    font-size: 12vw;
  }
}
.ct-speakers main .ct-speakers-inner {
  padding: 2vw 5vw;
}
@media screen and (max-width: 767.98px) {
  .ct-speakers main .ct-speakers-inner {
    padding: 2em 1em 2em 1em;
  }
}
.ct-speakers main .ct-speakers-inner section {
  background-color: #FFF;
  padding: 2.5em 5vw;
  /* .ct-academic-committee {
                    .r-committe {
                        margin-top: 2em;
                        @media screen and (max-width: 991.98px) {
                            margin-top: 0;
                        }
                        .box-committee {
                            padding: 0 1.5em;
                            @media screen and (max-width: 991.98px) {
                                margin-top: 1em;
                            }
                            .logo-speaker {
                                margin-bottom: 1em;
                            }
                            .sp {
                                font-size: 14px;
                                margin-bottom: 1em;
                                @media screen and (max-width: 991.98px) {
                                    padding: 1em;
                                }
                                @media screen and (max-width: 390.98px) {
                                    padding: 1em .5em;
                                }
                                b {
                                    font-size: 16px;
                                }
                            }
                            p {
                                font-size: 14px;
                                text-align: justify;
                            }
                            ul {
                                list-style: none;
                                margin-top: .5em;
                                padding-left: 0;
                                li {
                                    display: inline-block;
                                    a {
                                        i {
                                            color: #282828;
                                            padding: 0px 5px;
                                        }
                                        svg {
                                            color: #282828;
                                            font-size: 1.8em;
                                            padding: 0px 5px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .pagination {
                    display: inline-block;
                    margin: 0 auto;
                    margin-top: 4em;
                    position: relative;
                    .index {
                        cursor: pointer;
                        display: inline;
                        font-family: 'Roboto-Regular';
                        margin-right: .4em;
                        padding: 10px 16px;
                        background: #eeee;
                        border-radius: 100%;
                        user-select: none;
                        -moz-user-select: none;
                      }
                      .index:last-child {
                        margin: 0;
                      }
                      svg {
                        left: -2px;
                        position: absolute;
                        top: -11px;
                        transition: transform 500ms;
                        width: 46px;
                      }
                      path {
                        fill:none;
                        stroke:#4e4e4e;;
                        stroke-dasharray: 150 150;
                        stroke-width:5px;
                      }
                      &.open:not(.flip) path {
                        animation: OpenRight 500ms;
                        background: #FFF;
                      }
                      &.open.flip path {
                        animation: OpenLeft 500ms;
                      }
                      &.i1 svg {
                        transform: translateX(0);
                      }
                      &.i2 svg {
                        transform: translateX(50px);
                      }
                      &.i3 svg {
                        transform: translateX(102px);
                      }
                      &.i4 svg {
                        transform: translateX(154px);
                      }
                      &.i5 svg {
                        transform: translateX(206px);
                      }
                      @keyframes OpenRight {
                        25% { stroke-dasharray: 100 150; }
                        60% { stroke-dasharray: 100 150; }
                        100% { stroke-dasharray: 150 150; }
                      }
                      @keyframes OpenLeft {
                        25% { stroke-dashoffset: -50px; }
                        60% { stroke-dashoffset: -50px; }
                        100% { stroke-dashoffset: 0; }
                      }
                } */
}
.ct-speakers main .ct-speakers-inner section h2 {
  display: block;
  font-family: 'BebasNeue-Regular';
  font-size: 3em;
  text-align: center;
  text-transform: uppercase;
}
@media screen and (max-width: 767.98px) {
  .ct-speakers main .ct-speakers-inner section h2 {
    font-size: 2.5em;
    margin-bottom: .5em;
  }
}
.ct-speakers main .ct-speakers-inner section .ct-profiles .row {
  margin-top: 1em;
}
@media screen and (max-width: 991.98px) {
  .ct-speakers main .ct-speakers-inner section .ct-profiles .row .box-speaker .ct-image {
    text-align: center;
  }
}
.ct-speakers main .ct-speakers-inner section .ct-profiles .row .box-speaker .ct-image img {
  width: 90%;
}
@media screen and (max-width: 991.98px) {
  .ct-speakers main .ct-speakers-inner section .ct-profiles .row .box-speaker .ct-image img {
    margin-bottom: 1em;
    width: 60%;
  }
}
@media screen and (max-width: 767.98px) {
  .ct-speakers main .ct-speakers-inner section .ct-profiles .row .box-speaker .ct-image img {
    width: 200px;
  }
}
.ct-speakers main .ct-speakers-inner section .ct-profiles .row .box-speaker .info-speaker {
  font-family: 'Roboto-Regular';
}
@media screen and (max-width: 991.98px) {
  .ct-speakers main .ct-speakers-inner section .ct-profiles .row .box-speaker .info-speaker {
    text-align: center;
  }
}
.ct-speakers main .ct-speakers-inner section .ct-profiles .row .box-speaker .info-speaker span {
  font-size: 14px;
}
.ct-speakers main .ct-speakers-inner section .ct-profiles .row .box-speaker .info-speaker span b {
  font-size: 16px;
}
.ct-speakers main .ct-speakers-inner section .ct-profiles .row .box-speaker .info-speaker p {
  font-size: 14px;
  margin-top: 1em;
  text-align: justify;
}
.ct-speakers main .ct-speakers-inner section .ct-profiles .row .box-speaker .info-speaker .btn-profile {
  color: #00aa9e;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
}
.ct-speakers main .ct-speakers-inner section .ct-profiles .row .box-speaker .info-speaker ul {
  list-style: none;
  margin-top: 1em;
  padding-left: 0;
}
.ct-speakers main .ct-speakers-inner section .ct-profiles .row .box-speaker .info-speaker ul li {
  display: inline-block;
}
.ct-speakers main .ct-speakers-inner section .ct-profiles .row .box-speaker .info-speaker ul li a i {
  color: #282828;
  padding: 0px 5px;
}
.ct-speakers main .ct-speakers-inner section .ct-profiles .row .box-speaker .info-speaker ul li a svg {
  color: #282828;
  font-size: 2em;
  padding: 0px 5px;
}
@media screen and (max-width: 767.98px) {
  .ct-speakers footer .ct-footer .section {
    text-align: center;
  }
}
.ct-speakers footer .ct-footer .section:nth-child(1) {
  background-color: #00aa9e;
  padding: 2em;
}
.ct-speakers footer .ct-footer .section:nth-child(1) a {
  color: #FFF;
  font-family: 'Roboto-Light';
  font-size: 15px;
  margin-left: 8em;
  text-decoration: none;
}
@media screen and (max-width: 1199.98px) {
  .ct-speakers footer .ct-footer .section:nth-child(1) a {
    margin-left: 2em;
  }
}
@media screen and (max-width: 767.98px) {
  .ct-speakers footer .ct-footer .section:nth-child(1) a {
    margin: 0;
  }
}
.ct-speakers footer .ct-footer .section:nth-child(2) {
  background-color: #282828;
  padding: 0.5em 1em;
  text-align: right;
}
@media screen and (max-width: 767.98px) {
  .ct-speakers footer .ct-footer .section:nth-child(2) {
    text-align: center;
  }
}
.ct-speakers footer .ct-footer .section:nth-child(2) span {
  color: #555555;
  font-family: 'Roboto-Regular';
  font-weight: bold;
  margin-right: 8em;
  text-align: right;
  text-transform: uppercase;
}
@media screen and (max-width: 1199.98px) {
  .ct-speakers footer .ct-footer .section:nth-child(2) span {
    margin-right: 2em;
  }
}
@media screen and (max-width: 767.98px) {
  .ct-speakers footer .ct-footer .section:nth-child(2) span {
    margin: 0;
    text-align: center;
  }
}
.ct-form {
  background-color: #eeeeee;
}
.ct-form header .ct-nav {
  background-color: #FFF;
  border-bottom: 1px solid #dcdcdc;
  display: block;
  visibility: visible;
}
@media screen and (max-width: 767.98px) {
  .ct-form header .ct-nav {
    display: none;
    visibility: hidden;
  }
}
.ct-form header .ct-nav nav {
  display: table;
  margin: 0 auto;
  padding: 2vw 0px;
}
.ct-form header .ct-nav nav a {
  color: #282828;
  font-family: 'Roboto-Medium';
  font-size: 1.2vw;
  display: table-cell;
  padding: 0px 1em;
  text-decoration: none;
}
.ct-form header .ct-banner {
  background-image: url(../images/bk-banner-form.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5vw 4vw;
}
@media screen and (max-width: 767.98px) {
  .ct-form header .ct-banner {
    margin-top: 4em;
  }
}
.ct-form header .ct-banner h1 {
  font-family: 'BebasNeue-Regular';
  font-size: 6.8vw;
  line-height: 0.85;
  margin-top: 4vw;
  margin: 0 auto;
  text-align: center;
}
@media screen and (max-width: 767.98px) {
  .ct-form header .ct-banner h1 {
    font-size: 5em;
  }
}
@media screen and (max-width: 575.98px) {
  .ct-form header .ct-banner h1 {
    font-size: 12vw;
  }
}
.ct-form main .ct-proposal {
  padding: 2em 6vw;
}
.ct-form main .ct-proposal .section {
  background-color: #FFF;
  display: table;
  padding: 2vw 4vw;
  width: 100%;
}
@media screen and (max-width: 991.98px) {
  .ct-form main .ct-proposal .section {
    display: block;
  }
}
.ct-form main .ct-proposal .section .postulant {
  display: table-cell;
  padding: 1.5em;
  width: 50%;
  font-family: 'Roboto-Regular';
}
@media screen and (max-width: 991.98px) {
  .ct-form main .ct-proposal .section .postulant {
    display: block;
    margin: 0 auto;
    width: 80%;
    padding: 2.5em 1.5em;
  }
}
@media screen and (max-width: 767.98px) {
  .ct-form main .ct-proposal .section .postulant {
    padding: 2.5em 0px;
    width: 100%;
  }
}
.ct-form main .ct-proposal .section .postulant h2 {
  font-family: 'BebasNeue-Regular';
  font-size: 3em;
}
@media screen and (max-width: 767.98px) {
  .ct-form main .ct-proposal .section .postulant h2 {
    font-size: 2.5em;
  }
}
.ct-form main .ct-proposal .section .postulant h5 {
  text-transform: uppercase;
}
.ct-form main .ct-proposal .section .postulant p {
  font-size: 14px;
  text-align: justify;
}
@media screen and (max-width: 575.98px) {
  .ct-form main .ct-proposal .section .postulant ul {
    padding-left: 1em;
  }
}
.ct-form main .ct-proposal .section .postulant ul li {
  font-size: 14px;
  text-align: justify;
}
.ct-form main .ct-proposal .section .postulant ul.list-style-none {
  list-style: none;
}
.ct-form main .ct-proposal .section .postulant ul.list-m-top li {
  margin-top: 10px;
}
.ct-form main .ct-proposal .section .proposal {
  display: table-cell;
  padding: 1em;
  width: 50%;
  font-family: 'Roboto-Regular';
  font-size: 14px;
  text-align: center;
}
@media screen and (max-width: 991.98px) {
  .ct-form main .ct-proposal .section .proposal {
    display: block;
    margin: 0 auto;
    width: 80%;
    padding: 2.5em 1.5em;
  }
}
@media screen and (max-width: 767.98px) {
  .ct-form main .ct-proposal .section .proposal {
    padding: 0px;
    padding: 0 0 3em 0;
    width: 100%;
  }
}
.ct-form main .ct-proposal .section .proposal h2 {
  font-family: 'BebasNeue-Regular';
  font-size: 3em;
  text-align: left;
}
@media screen and (max-width: 767.98px) {
  .ct-form main .ct-proposal .section .proposal h2 {
    font-size: 2.5em;
  }
}
.ct-form main .ct-proposal .section .proposal h5 {
  text-align: left;
}
.ct-form main .ct-proposal .section .proposal .input-group-text {
  background-color: #eeeeee;
  border-right: none;
  border-radius: 0;
}
.ct-form main .ct-proposal .section .proposal .input-group-text i,
.ct-form main .ct-proposal .section .proposal .input-group-text svg {
  color: #00aa9e;
}
.ct-form main .ct-proposal .section .proposal .form-control {
  background-color: #eeeeee;
  border-left: none;
  border-radius: 0;
  font-size: 14px;
}
.ct-form main .ct-proposal .section .proposal .tag-editor {
  background: #eeeeee;
  border: 1px solid #ced4da;
  border-left: none;
  padding: .375rem .75rem;
}
.ct-form main .ct-proposal .section .proposal .tag-editor .tag-editor div {
  padding: 0;
}
.ct-form main .ct-proposal .section .proposal .tag-editor li {
  margin: 2px 0;
}
.ct-form main .ct-proposal .section .proposal .tag-editor li .tag-editor-tag {
  background: #00AA9E;
  color: #FFF;
}
.ct-form main .ct-proposal .section .proposal .tag-editor li .tag-editor-delete {
  background: #00AA9E;
}
.ct-form main .ct-proposal .section .proposal .tag-editor li .tag-editor-delete i:before {
  color: #FFF;
}
.ct-form main .ct-proposal .section .proposal .tag-editor .placeholder {
  padding: 0;
  color: #676f77;
}
.ct-form main .ct-proposal .section .proposal .custom-select {
  background-color: #eeeeee;
  border-left: 0;
  border-radius: 0;
  font-size: 14px;
}
.ct-form main .ct-proposal .section .proposal .file-upload {
  position: relative;
  overflow: hidden;
  background: #282828;
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
  border: none;
  color: #FFF;
  padding: .375rem .75rem;
  display: inline-block;
  vertical-align: middle;
  -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  -o-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}
.ct-form main .ct-proposal .section .proposal .file-upload .upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}
.ct-form main .ct-proposal .section .proposal #fileuploadurl {
  background-color: #eeeeee;
  border: none;
  display: inline-block;
  vertical-align: middle;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 15px;
  padding: .375rem .75rem;
}
.ct-form main .ct-proposal .section .proposal .btn-submit {
  background-color: #00aa9e;
  border: none;
  color: #FFF;
  cursor: pointer;
  font-family: 'Roboto-Medium';
  font-size: 16px;
  letter-spacing: 3px;
  margin-top: 2em;
  padding: 1em 5em;
  text-transform: uppercase;
}
@media screen and (max-width: 991.98px) {
  .ct-form main .ct-proposal .section .proposal .btn-submit {
    font-size: 14px;
  }
}
@media screen and (max-width: 767.98px) {
  .ct-form main .ct-proposal .section .proposal .btn-submit {
    font-size: 12px;
    padding: 1em 4em;
    width: 100%;
  }
}
.ct-form footer .ct-footer .logo {
  background-image: url(../images/bk-footer-form.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 6.5vw;
  padding-bottom: 5vw;
}
@media screen and (max-width: 767.98px) {
  .ct-form footer .ct-footer .logo {
    background-image: url(../images/bk-footer-form-2.png);
    -moz-transform: scaleX(-1);
    /* Firefox */
    -o-transform: scaleX(-1);
    /* Opera */
    -webkit-transform: scaleX(-1);
    /* Chrome y Safari */
    -ms-transform: scaleX(-1);
    transform: scaleX(-1);
    /* w3org */
    -webkit-filter: FlipH;
    filter: FlipH;
    /* Internet Explorer */
  }
}
.ct-form footer .ct-footer .logo .ct-text-logo {
  font-family: 'Roboto-Regular';
  margin: 0 auto;
  top: 2.3vw;
  right: .5vw;
}
@media screen and (max-width: 991.98px) and (min-width: 767.98px) {
  .ct-form footer .ct-footer .logo .ct-text-logo {
    right: -7vw;
  }
}
@media screen and (max-width: 767.98px) {
  .ct-form footer .ct-footer .logo .ct-text-logo {
    top: 0;
    -moz-transform: scaleX(-1);
    /* Firefox */
    -o-transform: scaleX(-1);
    /* Opera */
    -webkit-transform: scaleX(-1);
    /* Chrome y Safari */
    -ms-transform: scaleX(-1);
    transform: scaleX(-1);
    /* w3org */
    -webkit-filter: FlipH;
    filter: FlipH;
    /* Internet Explorer */
  }
}
.ct-form footer .ct-footer .logo .ct-text-logo h2 {
  font-size: 1.3vw;
}
@media screen and (max-width: 767.98px) {
  .ct-form footer .ct-footer .logo .ct-text-logo h2 {
    font-size: 3vw;
  }
}
@media screen and (max-width: 575.98px) {
  .ct-form footer .ct-footer .logo .ct-text-logo h2 {
    font-size: 5vw;
  }
}
.ct-form footer .ct-footer .logo .ct-text-logo h2 span {
  background-color: #fde500;
  padding: 0px 0.4em;
}
.ct-form footer .ct-footer .logo .ct-text-logo h1 {
  font-family: 'BebasNeue-Regular';
  font-size: 4.7vw;
  line-height: 0.85;
}
@media screen and (max-width: 767.98px) {
  .ct-form footer .ct-footer .logo .ct-text-logo h1 {
    font-size: 10vw;
  }
}
@media screen and (max-width: 575.98px) {
  .ct-form footer .ct-footer .logo .ct-text-logo h1 {
    font-size: 13vw;
  }
}
.ct-form footer .ct-footer .section {
  background-color: #282828;
  padding: 0.5em 1em;
  text-align: right;
}
@media screen and (max-width: 767.98px) {
  .ct-form footer .ct-footer .section {
    text-align: center;
  }
}
.ct-form footer .ct-footer .section span {
  color: #555555;
  font-family: 'Roboto-Regular';
  font-weight: bold;
  margin-right: 8em;
  text-align: right;
  text-transform: uppercase;
}
@media screen and (max-width: 1199.98px) {
  .ct-form footer .ct-footer .section span {
    margin-right: 2em;
  }
}
@media screen and (max-width: 767.98px) {
  .ct-form footer .ct-footer .section span {
    margin: 0;
    text-align: center;
  }
}
.ct-program {
  background-color: #eeeeee;
}
.ct-program header .ct-nav {
  background-color: #FFF;
  border-bottom: 1px solid #dcdcdc;
  display: block;
  visibility: visible;
}
@media screen and (max-width: 767.98px) {
  .ct-program header .ct-nav {
    display: none;
    visibility: hidden;
  }
}
.ct-program header .ct-nav nav {
  display: table;
  margin: 0 auto;
  padding: 2vw 0px;
}
.ct-program header .ct-nav nav a {
  color: #282828;
  font-family: 'Roboto-Medium';
  font-size: 1.2vw;
  display: table-cell;
  padding: 0px 1em;
  text-decoration: none;
}
.ct-program header .ct-banner {
  background-image: url(../images/bk-banner-form.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5vw 4vw;
}
@media screen and (max-width: 767.98px) {
  .ct-program header .ct-banner {
    margin-top: 4em;
  }
}
.ct-program header .ct-banner h1 {
  font-family: 'BebasNeue-Regular';
  font-size: 6.8vw;
  line-height: 0.85;
  margin-top: 4vw;
  margin: 0 auto;
  text-align: center;
}
@media screen and (max-width: 767.98px) {
  .ct-program header .ct-banner h1 {
    font-size: 5em;
  }
}
@media screen and (max-width: 575.98px) {
  .ct-program header .ct-banner h1 {
    font-size: 12vw;
  }
}
.ct-program main .ct-info-program {
  padding: 2vw 5vw;
}
@media screen and (max-width: 767.98px) {
  .ct-program main .ct-info-program {
    padding: 2em 1em;
  }
}
.ct-program main .ct-info-program section {
  background-color: #FFF;
  padding: 2.5em 8vw;
}
.ct-program main .ct-info-program section .ct-info .row .ct-text-temp p {
  font-size: 22px;
}
@media screen and (max-width: 575.98px) {
  .ct-program main .ct-info-program section .ct-info .row .ct-text-temp p {
    font-size: 18px;
  }
}
.ct-program main .ct-info-program section .ct-info .row .ct-box {
  padding: 2em;
  width: 50%;
}
@media screen and (max-width: 767.98px) {
  .ct-program main .ct-info-program section .ct-info .row .ct-box {
    padding: 0;
    width: 100%;
  }
}
.ct-program main .ct-info-program section .ct-info .row .ct-box .row {
  margin-bottom: 1.5em;
}
.ct-program main .ct-info-program section .ct-info .row .ct-box .row h2 {
  display: block;
  font-family: 'BebasNeue-Regular';
  font-size: 3em;
  margin-bottom: .5em;
  text-transform: uppercase;
}
@media screen and (max-width: 767.98px) {
  .ct-program main .ct-info-program section .ct-info .row .ct-box .row h2 {
    font-size: 2.5em;
    margin-bottom: .5em;
  }
}
.ct-program main .ct-info-program section .ct-info .row .ct-box .row .box h3 {
  color: #00aa9e;
  font-family: 'BebasNeue-Regular';
}
.ct-program main .ct-info-program section .ct-info .row .ct-box .row .box .text-box {
  font-family: 'Roboto-Regular';
}
.ct-program main .ct-info-program section .ct-info .row .ct-box .row .box .text-box p {
  font-size: 14px;
}
.ct-program main .ct-info-program section .ct-info .row .ct-box .row .box .text-box p:nth-child(2) {
  text-align: justify;
}
@media screen and (max-width: 767.98px) {
  .ct-program footer .ct-footer .section {
    text-align: center;
  }
}
.ct-program footer .ct-footer .section:nth-child(1) {
  background-color: #00aa9e;
  padding: 2em;
}
.ct-program footer .ct-footer .section:nth-child(1) a {
  color: #FFF;
  font-family: 'Roboto-Light';
  font-size: 15px;
  margin-left: 8em;
  text-decoration: none;
}
@media screen and (max-width: 1199.98px) {
  .ct-program footer .ct-footer .section:nth-child(1) a {
    margin-left: 2em;
  }
}
@media screen and (max-width: 767.98px) {
  .ct-program footer .ct-footer .section:nth-child(1) a {
    margin: 0;
  }
}
.ct-program footer .ct-footer .section:nth-child(2) {
  background-color: #282828;
  padding: 0.5em 1em;
  text-align: right;
}
@media screen and (max-width: 767.98px) {
  .ct-program footer .ct-footer .section:nth-child(2) {
    text-align: center;
  }
}
.ct-program footer .ct-footer .section:nth-child(2) span {
  color: #555555;
  font-family: 'Roboto-Regular';
  font-weight: bold;
  margin-right: 8em;
  text-align: right;
  text-transform: uppercase;
}
@media screen and (max-width: 1199.98px) {
  .ct-program footer .ct-footer .section:nth-child(2) span {
    margin-right: 2em;
  }
}
@media screen and (max-width: 767.98px) {
  .ct-program footer .ct-footer .section:nth-child(2) span {
    margin: 0;
    text-align: center;
  }
}
.ct-location {
  background-color: #eeeeee;
}
.ct-location header .ct-nav {
  background-color: #FFF;
  border-bottom: 1px solid #dcdcdc;
  display: block;
  visibility: visible;
}
@media screen and (max-width: 767.98px) {
  .ct-location header .ct-nav {
    display: none;
    visibility: hidden;
  }
}
.ct-location header .ct-nav nav {
  display: table;
  margin: 0 auto;
  padding: 2vw 0px;
}
.ct-location header .ct-nav nav a {
  color: #282828;
  font-family: 'Roboto-Medium';
  font-size: 1.2vw;
  display: table-cell;
  padding: 0px 1em;
  text-decoration: none;
}
.ct-location header .ct-banner {
  background-image: url(../images/bk-banner-form.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5vw 4vw;
}
@media screen and (max-width: 767.98px) {
  .ct-location header .ct-banner {
    margin-top: 4em;
  }
}
.ct-location header .ct-banner h1 {
  font-family: 'BebasNeue-Regular';
  font-size: 6.8vw;
  line-height: 0.85;
  margin-top: 4vw;
  margin: 0 auto;
  text-align: center;
}
@media screen and (max-width: 767.98px) {
  .ct-location header .ct-banner h1 {
    font-size: 5em;
  }
}
@media screen and (max-width: 575.98px) {
  .ct-location header .ct-banner h1 {
    font-size: 12vw;
  }
}
.ct-location main .ct-about {
  border-collapse: separate;
  border-spacing: 2vw 0px;
  padding: 2em 6vw;
}
@media screen and (max-width: 767.98px) {
  .ct-location main .ct-about {
    padding: 2em;
  }
}
.ct-location main .ct-about .date {
  background-color: #fde500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'BebasNeue-Regular';
  font-size: 6vw;
  line-height: 0.8;
  padding: 5.7vw;
  width: 4em;
}
@media screen and (min-width: 991.98px) {
  .ct-location main .ct-about .date {
    height: 5em;
  }
}
@media screen and (max-width: 991.98px) {
  .ct-location main .ct-about .date {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: .8em;
    width: 100%;
  }
}
@media screen and (max-width: 767.98px) {
  .ct-location main .ct-about .date {
    font-size: 3em;
  }
}
.ct-location main .ct-about .date span {
  margin: 0 auto;
  padding-top: 20px;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .ct-location main .ct-about .date span {
    padding-top: 0 !important;
  }
}
@media screen and (max-width: 991.98px) {
  .ct-location main .ct-about .date span {
    margin: 0 auto;
    padding: 0;
    position: relative;
  }
}
.ct-location main .ct-about .text-about {
  background-color: #FFF;
  left: 30px;
  padding: 4vw 8vw;
}
@media screen and (max-width: 991.98px) {
  .ct-location main .ct-about .text-about {
    left: 0px;
  }
}
.ct-location main .ct-about .text-about h2 {
  font-family: 'BebasNeue-Regular';
  font-size: 3em;
  margin-bottom: .5em;
}
@media screen and (max-width: 575.98px) {
  .ct-location main .ct-about .text-about h2 {
    font-size: 2.5em;
    text-align: center;
  }
}
.ct-location main .ct-about .text-about p {
  font-family: 'Roboto-Light';
  font-size: 14px;
  text-align: justify;
}
.ct-location main .ct-about .text-about ul li {
  font-family: 'Roboto-Light';
  font-size: 14px;
  text-align: justify;
}
.ct-location main .ct-map {
  padding: 2vw 5vw;
}
@media screen and (max-width: 767.98px) {
  .ct-location main .ct-map {
    padding: 2vw 1em 2em 1em;
  }
}
.ct-location main .ct-map .map {
  background-color: #FFF;
  padding: 1em;
}
.ct-location main .ct-map .map iframe {
  height: 30em;
  width: 100%;
}
@media screen and (max-width: 767.98px) {
  .ct-location footer .ct-footer .section {
    text-align: center;
  }
}
.ct-location footer .ct-footer .section:nth-child(1) {
  background-color: #00aa9e;
  padding: 2em;
}
.ct-location footer .ct-footer .section:nth-child(1) a {
  color: #FFF;
  font-family: 'Roboto-Light';
  font-size: 15px;
  margin-left: 8em;
  text-decoration: none;
}
@media screen and (max-width: 1199.98px) {
  .ct-location footer .ct-footer .section:nth-child(1) a {
    margin-left: 2em;
  }
}
@media screen and (max-width: 767.98px) {
  .ct-location footer .ct-footer .section:nth-child(1) a {
    margin: 0;
  }
}
.ct-location footer .ct-footer .section:nth-child(2) {
  background-color: #282828;
  padding: 0.5em 1em;
  text-align: right;
}
@media screen and (max-width: 767.98px) {
  .ct-location footer .ct-footer .section:nth-child(2) {
    text-align: center;
  }
}
.ct-location footer .ct-footer .section:nth-child(2) span {
  color: #555555;
  font-family: 'Roboto-Regular';
  font-weight: bold;
  margin-right: 8em;
  text-align: right;
  text-transform: uppercase;
}
@media screen and (max-width: 1199.98px) {
  .ct-location footer .ct-footer .section:nth-child(2) span {
    margin-right: 2em;
  }
}
@media screen and (max-width: 767.98px) {
  .ct-location footer .ct-footer .section:nth-child(2) span {
    margin: 0;
    text-align: center;
  }
}
.ct-signup {
  background-color: #eeeeee;
}
.ct-signup header .ct-nav {
  background-color: #FFF;
  border-bottom: 1px solid #dcdcdc;
  display: block;
  visibility: visible;
}
@media screen and (max-width: 767.98px) {
  .ct-signup header .ct-nav {
    display: none;
    visibility: hidden;
  }
}
.ct-signup header .ct-nav nav {
  display: table;
  margin: 0 auto;
  padding: 2vw 0px;
}
.ct-signup header .ct-nav nav a {
  color: #282828;
  font-family: 'Roboto-Medium';
  font-size: 1.2vw;
  display: table-cell;
  padding: 0px 1em;
  text-decoration: none;
}
.ct-signup header .ct-banner {
  background-image: url(../images/bk-banner-other.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5vw 4vw;
}
@media screen and (max-width: 767.98px) {
  .ct-signup header .ct-banner {
    margin-top: 4em;
  }
}
.ct-signup header .ct-banner h1 {
  font-family: 'BebasNeue-Regular';
  font-size: 6.8vw;
  line-height: 0.85;
  margin-top: 4vw;
  margin: 0 auto;
  text-align: center;
}
@media screen and (max-width: 767.98px) {
  .ct-signup header .ct-banner h1 {
    font-size: 5em;
  }
}
@media screen and (max-width: 575.98px) {
  .ct-signup header .ct-banner h1 {
    font-size: 12vw;
  }
}
.ct-signup main .ct-signup-inner {
  padding: 2vw 6vw;
}
@media screen and (max-width: 767.98px) {
  .ct-signup main .ct-signup-inner {
    padding: 2em 4vw;
  }
}
.ct-signup main .ct-signup-inner section {
  background-color: #FFF;
  padding: 2.5em;
  text-align: center;
}
@media screen and (max-width: 767.98px) {
  .ct-signup main .ct-signup-inner section {
    padding: 1em;
  }
}
@media screen and (max-width: 575.98px) {
  .ct-signup main .ct-signup-inner section {
    padding: 3em 1em;
  }
}
.ct-signup main .ct-signup-inner section h2 {
  font-family: 'BebasNeue-Regular';
  font-size: 3em;
  margin-bottom: 1em;
}
.ct-signup main .ct-signup-inner section .ct-piece {
  background-color: #eeeeee;
  border-radius: 5px;
  display: table;
  font-family: 'Roboto-Regular';
  margin: 0 auto;
  margin-bottom: 1em;
  padding: 1em;
  width: 100%;
}
.ct-signup main .ct-signup-inner section .ct-piece .column {
  display: table-cell;
}
@media screen and (max-width: 767.98px) {
  .ct-signup main .ct-signup-inner section .ct-piece .column {
    display: block;
    margin: 0 auto;
  }
}
.ct-signup main .ct-signup-inner section .ct-piece .column:nth-child(1) {
  font-size: 3vw;
  vertical-align: middle;
  width: 25%;
}
@media screen and (max-width: 767.98px) {
  .ct-signup main .ct-signup-inner section .ct-piece .column:nth-child(1) {
    font-size: 2em;
    width: auto;
  }
}
.ct-signup main .ct-signup-inner section .ct-piece .column:nth-child(2) {
  text-align: left;
  padding-top: 1.4vw;
  width: 55%;
}
.ct-signup main .ct-signup-inner section .ct-piece .column:nth-child(2) h6 {
  font-size: 16px;
  font-weight: bold;
}
@media screen and (max-width: 991.98px) {
  .ct-signup main .ct-signup-inner section .ct-piece .column:nth-child(2) h6 {
    font-size: 14px;
  }
}
.ct-signup main .ct-signup-inner section .ct-piece .column:nth-child(2) p {
  font-size: 14px;
  vertical-align: middle;
}
@media screen and (max-width: 991.98px) {
  .ct-signup main .ct-signup-inner section .ct-piece .column:nth-child(2) p {
    font-size: 12px;
  }
}
@media screen and (max-width: 767.98px) {
  .ct-signup main .ct-signup-inner section .ct-piece .column:nth-child(2) {
    text-align: center;
    width: auto;
  }
}
.ct-signup main .ct-signup-inner section .ct-piece .column:nth-child(3) {
  vertical-align: middle;
  width: 20%;
}
.ct-signup main .ct-signup-inner section .ct-piece .column:nth-child(3) .number {
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  padding: 14px;
  width: 6vw;
}
@media screen and (max-width: 767.98px) {
  .ct-signup main .ct-signup-inner section .ct-piece .column:nth-child(3) .number {
    padding: 10px;
    width: 70px;
  }
}
@media screen and (max-width: 767.98px) {
  .ct-signup main .ct-signup-inner section .ct-piece .column:nth-child(3) {
    width: auto;
  }
}
.ct-signup main .ct-signup-inner section .ct-piece-promotion {
  background-color: #eeeeee;
  border-radius: 5px;
  display: table;
  font-family: 'Roboto-Regular';
  margin: 0 auto;
  margin-bottom: 1em;
  padding: 2em;
  width: 100%;
}
@media screen and (max-width: 575.98px) {
  .ct-signup main .ct-signup-inner section .ct-piece-promotion {
    padding: 1em;
  }
}
.ct-signup main .ct-signup-inner section .ct-piece-promotion .column {
  display: table-cell;
}
@media screen and (max-width: 991.98px) {
  .ct-signup main .ct-signup-inner section .ct-piece-promotion .column {
    display: block;
    margin: 0 auto;
  }
}
.ct-signup main .ct-signup-inner section .ct-piece-promotion .column:nth-child(1) {
  font-size: 18px;
  text-align: left;
  vertical-align: middle;
  width: 65%;
}
.ct-signup main .ct-signup-inner section .ct-piece-promotion .column:nth-child(1) span {
  margin-left: 4.6vw;
}
@media screen and (max-width: 991.98px) {
  .ct-signup main .ct-signup-inner section .ct-piece-promotion .column:nth-child(1) span {
    margin-left: 0px;
  }
}
@media screen and (max-width: 991.98px) {
  .ct-signup main .ct-signup-inner section .ct-piece-promotion .column:nth-child(1) {
    text-align: center;
    width: auto;
  }
}
.ct-signup main .ct-signup-inner section .ct-piece-promotion .column:nth-child(2) {
  text-align: right;
  width: 35%;
}
.ct-signup main .ct-signup-inner section .ct-piece-promotion .column:nth-child(2) .input-group {
  right: 5vw;
}
.ct-signup main .ct-signup-inner section .ct-piece-promotion .column:nth-child(2) .input-group .form-control {
  font-size: 14px;
}
@media screen and (max-width: 575.98px) {
  .ct-signup main .ct-signup-inner section .ct-piece-promotion .column:nth-child(2) .input-group .form-control {
    font-size: 13px;
  }
}
.ct-signup main .ct-signup-inner section .ct-piece-promotion .column:nth-child(2) .input-group .input-group-append .btn {
  background-color: #282828;
  color: #FFF;
  font-size: 14px;
  letter-spacing: 2px;
}
@media screen and (max-width: 575.98px) {
  .ct-signup main .ct-signup-inner section .ct-piece-promotion .column:nth-child(2) .input-group .input-group-append .btn {
    font-size: 10px;
  }
}
@media screen and (max-width: 991.98px) {
  .ct-signup main .ct-signup-inner section .ct-piece-promotion .column:nth-child(2) .input-group {
    margin-top: 1em;
    right: 0px;
  }
}
@media screen and (max-width: 991.98px) {
  .ct-signup main .ct-signup-inner section .ct-piece-promotion .column:nth-child(2) {
    width: auto;
  }
}
.ct-signup main .ct-signup-inner section .btn-program {
  background-color: #00aa9e;
  border: none;
  color: #FFF;
  cursor: pointer;
  font-family: 'Roboto-Medium';
  font-size: 16px;
  letter-spacing: 3px;
  margin-top: 1em;
  padding: 1em 8em;
  text-transform: uppercase;
}
@media screen and (max-width: 991.98px) {
  .ct-signup main .ct-signup-inner section .btn-program {
    font-size: 14px;
  }
}
@media screen and (max-width: 767.98px) {
  .ct-signup main .ct-signup-inner section .btn-program {
    font-size: 12px;
    padding: 1em 4em;
    width: 100%;
  }
}
@media screen and (max-width: 767.98px) {
  .ct-signup footer .ct-footer .section {
    text-align: center;
  }
}
.ct-signup footer .ct-footer .section:nth-child(1) {
  background-color: #00aa9e;
  padding: 2em;
}
.ct-signup footer .ct-footer .section:nth-child(1) a {
  color: #FFF;
  font-family: 'Roboto-Light';
  font-size: 15px;
  margin-left: 8em;
  text-decoration: none;
}
@media screen and (max-width: 1199.98px) {
  .ct-signup footer .ct-footer .section:nth-child(1) a {
    margin-left: 2em;
  }
}
@media screen and (max-width: 767.98px) {
  .ct-signup footer .ct-footer .section:nth-child(1) a {
    margin: 0;
  }
}
.ct-signup footer .ct-footer .section:nth-child(2) {
  background-color: #282828;
  padding: 0.5em 1em;
  text-align: right;
}
@media screen and (max-width: 767.98px) {
  .ct-signup footer .ct-footer .section:nth-child(2) {
    text-align: center;
  }
}
.ct-signup footer .ct-footer .section:nth-child(2) span {
  color: #555555;
  font-family: 'Roboto-Regular';
  font-weight: bold;
  margin-right: 8em;
  text-align: right;
  text-transform: uppercase;
}
@media screen and (max-width: 1199.98px) {
  .ct-signup footer .ct-footer .section:nth-child(2) span {
    margin-right: 2em;
  }
}
@media screen and (max-width: 767.98px) {
  .ct-signup footer .ct-footer .section:nth-child(2) span {
    margin: 0;
    text-align: center;
  }
}
.ct-error {
  background-color: #eeeeee;
}
.ct-error header .ct-nav {
  background-color: #FFF;
  border-bottom: 1px solid #dcdcdc;
  display: block;
  visibility: visible;
}
@media screen and (max-width: 767.98px) {
  .ct-error header .ct-nav {
    display: none;
    visibility: hidden;
  }
}
.ct-error header .ct-nav nav {
  display: table;
  margin: 0 auto;
  padding: 2vw 0px;
}
.ct-error header .ct-nav nav a {
  color: #282828;
  font-family: 'Roboto-Medium';
  font-size: 1.2vw;
  display: table-cell;
  padding: 0px 1em;
  text-decoration: none;
}
.ct-error header .ct-banner {
  background-image: url(../images/bk-banner-form.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5vw 4vw;
}
@media screen and (max-width: 767.98px) {
  .ct-error header .ct-banner {
    margin-top: 4em;
  }
}
.ct-error header .ct-banner h1 {
  font-family: 'BebasNeue-Regular';
  font-size: 6.8vw;
  line-height: 0.85;
  margin-top: 4vw;
  margin: 0 auto;
  text-align: center;
}
@media screen and (max-width: 767.98px) {
  .ct-error header .ct-banner h1 {
    font-size: 5em;
  }
}
@media screen and (max-width: 575.98px) {
  .ct-error header .ct-banner h1 {
    font-size: 12vw;
  }
}
.ct-error main .ct-info-error {
  padding: 2vw 5vw;
}
@media screen and (max-width: 767.98px) {
  .ct-error main .ct-info-error {
    padding: 5em 1em 2em 1em;
  }
}
.ct-error main .ct-info-error section {
  background-color: #FFF;
  padding: 5em 8vw;
}
@media screen and (max-width: 767.98px) {
  .ct-error main .ct-info-error section {
    padding: 4em 8vw;
  }
}
.ct-error main .ct-info-error section .ct-info .row .ct-text-error {
  width: 100%;
}
.ct-error main .ct-info-error section .ct-info .row .ct-text-error h2 {
  color: #f94949;
  font-size: 24px;
  text-align: center;
}
@media screen and (max-width: 575.98px) {
  .ct-error main .ct-info-error section .ct-info .row .ct-text-error h2 {
    font-size: 20px;
  }
}
.ct-error main .ct-info-error section .ct-info .row .ct-text-error p {
  font-size: 22px;
  text-align: center;
}
@media screen and (max-width: 575.98px) {
  .ct-error main .ct-info-error section .ct-info .row .ct-text-error p {
    font-size: 18px;
  }
}
.ct-error main .ct-info-error section .ct-info .row .ct-text-error ul {
  list-style: none;
  padding-left: 0;
  text-align: center;
}
@media screen and (max-width: 767.98px) {
  .ct-error main .ct-info-error section .ct-info .row .ct-text-error ul {
    text-align: left;
  }
}
.ct-error main .ct-info-error section .ct-info .row .ct-text-error ul li {
  font-size: 22px;
  margin-bottom: 1em;
}
@media screen and (max-width: 767.98px) {
  .ct-error main .ct-info-error section .ct-info .row .ct-text-error ul li {
    font-size: 16px;
  }
}
.ct-error main .ct-info-error section .ct-info .row .ct-text-error ul li .fa-circle {
  font-size: 6px;
  margin-right: 1em;
  vertical-align: middle;
}
.ct-error main .ct-info-error section .ct-info .row .ct-text-error .btn-primary {
  background: #282828;
  border: none;
  color: #FFF;
  cursor: pointer;
  font-family: 'Roboto-Medium';
  font-size: 14px;
  letter-spacing: 2px;
  margin: 0 auto;
  margin-top: 4em;
  padding: 1em 2em;
  text-decoration: none;
  text-transform: uppercase;
  width: 20em;
}
@media screen and (max-width: 767.98px) {
  .ct-error main .ct-info-error section .ct-info .row .ct-text-error .btn-primary {
    font-size: 12px;
  }
}
@media screen and (max-width: 767.98px) {
  .ct-error footer .ct-footer .section {
    text-align: center;
  }
}
.ct-error footer .ct-footer .section:nth-child(1) {
  background-color: #00aa9e;
  padding: 2em;
}
.ct-error footer .ct-footer .section:nth-child(1) a {
  color: #FFF;
  font-family: 'Roboto-Light';
  font-size: 15px;
  margin-left: 8em;
  text-decoration: none;
}
@media screen and (max-width: 1199.98px) {
  .ct-error footer .ct-footer .section:nth-child(1) a {
    margin-left: 2em;
  }
}
@media screen and (max-width: 767.98px) {
  .ct-error footer .ct-footer .section:nth-child(1) a {
    margin: 0;
  }
}
.ct-error footer .ct-footer .section:nth-child(2) {
  background-color: #282828;
  padding: 0.5em 1em;
  text-align: right;
}
@media screen and (max-width: 767.98px) {
  .ct-error footer .ct-footer .section:nth-child(2) {
    text-align: center;
  }
}
.ct-error footer .ct-footer .section:nth-child(2) span {
  color: #555555;
  font-family: 'Roboto-Regular';
  font-weight: bold;
  margin-right: 8em;
  text-align: right;
  text-transform: uppercase;
}
@media screen and (max-width: 1199.98px) {
  .ct-error footer .ct-footer .section:nth-child(2) span {
    margin-right: 2em;
  }
}
@media screen and (max-width: 767.98px) {
  .ct-error footer .ct-footer .section:nth-child(2) span {
    margin: 0;
    text-align: center;
  }
}
.ct-cart {
  background-color: #eeeeee;
}
.ct-cart header .ct-nav {
  background-color: #FFF;
  border-bottom: 1px solid #dcdcdc;
  display: block;
  visibility: visible;
}
@media screen and (max-width: 767.98px) {
  .ct-cart header .ct-nav {
    display: none;
    visibility: hidden;
  }
}
.ct-cart header .ct-nav nav {
  display: table;
  margin: 0 auto;
  padding: 2vw 0px;
}
.ct-cart header .ct-nav nav a {
  color: #282828;
  font-family: 'Roboto-Medium';
  font-size: 1.2vw;
  display: table-cell;
  padding: 0px 1em;
  text-decoration: none;
}
.ct-cart header .ct-banner {
  background-image: url(../images/bk-banner-form.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5vw 4vw;
}
@media screen and (max-width: 767.98px) {
  .ct-cart header .ct-banner {
    margin-top: 4em;
  }
}
.ct-cart header .ct-banner h1 {
  font-family: 'BebasNeue-Regular';
  font-size: 6.8vw;
  line-height: 0.85;
  margin-top: 4vw;
  margin: 0 auto;
  text-align: center;
}
@media screen and (max-width: 767.98px) {
  .ct-cart header .ct-banner h1 {
    font-size: 5em;
  }
}
@media screen and (max-width: 575.98px) {
  .ct-cart header .ct-banner h1 {
    font-size: 12vw;
  }
}
.ct-cart main .ct-info-cart {
  padding: 2vw 5vw;
}
@media screen and (max-width: 767.98px) {
  .ct-cart main .ct-info-cart {
    padding: 5em 1em 2em 1em;
  }
}
.ct-cart main .ct-info-cart section {
  background-color: #FFF;
  padding: 2.5em 8vw;
}
.ct-cart main .ct-info-cart section .ct-info .ct-text-op .line-cart:before {
  content: '';
  border: 6px solid #dddddd;
  position: absolute;
  top: 1.3em;
  width: 100%;
  z-index: 0;
}
.ct-cart main .ct-info-cart section .ct-info .ct-text-op .box span {
  background: #FFF;
  color: #dddddd;
  font-family: 'BebasNeue-Regular';
  font-size: 2.5em;
  padding: 0 5px;
  text-transform: uppercase;
}
.ct-cart main .ct-info-cart section .ct-info .ct-text-op .box span.active {
  color: #2f2f2f;
}
.ct-cart main .ct-info-cart section .ct-info .ct-text-op p {
  font-size: 22px;
}
@media screen and (max-width: 575.98px) {
  .ct-cart main .ct-info-cart section .ct-info .ct-text-op p {
    font-size: 18px;
  }
}
.ct-cart main .ct-info-cart section .ct-info .ct-detail {
  padding: 2vw 5vw;
}
.ct-cart main .ct-info-cart section .ct-info .ct-detail p {
  font-size: 18px;
  font-family: 'Roboto-Regular';
  margin: 2em 0;
}
@media screen and (max-width: 575.98px) {
  .ct-cart main .ct-info-cart section .ct-info .ct-detail p {
    font-size: 18px;
  }
}
.ct-cart main .ct-info-cart section .ct-info .ct-detail .ct-piece {
  background-color: #eeeeee;
  border-radius: 5px;
  cursor: pointer;
  display: table;
  font-family: 'Roboto-Regular';
  margin: 0 auto;
  margin-bottom: 1em;
  padding: 3em;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  width: 100%;
}
@media screen and (max-width: 767.98px) {
  .ct-cart main .ct-info-cart section .ct-info .ct-detail .ct-piece {
    padding: 2em;
  }
}
.ct-cart main .ct-info-cart section .ct-info .ct-detail .ct-piece:nth-child(2) {
  background-color: #272727;
  color: #fff;
}
.ct-cart main .ct-info-cart section .ct-info .ct-detail .ct-piece span {
  font-size: 18px;
}
@media screen and (max-width: 767.98px) {
  .ct-cart main .ct-info-cart section .ct-info .ct-detail .ct-piece span {
    font-size: 14px;
  }
}
.ct-cart main .ct-info-cart section .ct-info .ct-detail .btn-signup {
  background-color: #00aa9e;
  border: none;
  color: #FFF;
  cursor: pointer;
  font-family: 'Roboto-Medium';
  font-size: 14px;
  letter-spacing: 3px;
  margin: 0 auto;
  margin-top: 1em;
  padding: 1em 2em;
  text-decoration: none;
  text-transform: uppercase;
  width: 20em;
}
.ct-cart main .ct-info-cart section .ct-info .ct-payment {
  padding: 3em 0;
}
.ct-cart main .ct-info-cart section .ct-info .ct-payment .ct-inputs p {
  color: #000;
  font-family: 'BebasNeue-Regular';
  font-size: 20px;
}
.ct-cart main .ct-info-cart section .ct-info .ct-payment .ct-inputs .form-control {
  color: #000;
  border-radius: .15rem;
  font-size: 14px;
}
.ct-cart main .ct-info-cart section .ct-info .ct-payment .ct-inputs .form-control.typedoc {
  width: 50%;
}
.ct-cart main .ct-info-cart section .ct-info .ct-payment .ct-inputs .form-control.numberdoc {
  width: 80%;
}
@media screen and (min-width: 1200px) {
  .ct-cart main .ct-info-cart section .ct-info .ct-payment .ct-method {
    padding: 0 3em;
  }
}
@media screen and (max-width: 767.98px) {
  .ct-cart main .ct-info-cart section .ct-info .ct-payment .ct-method {
    margin-top: 3em;
  }
}
.ct-cart main .ct-info-cart section .ct-info .ct-payment .ct-method p {
  color: #000;
  font-family: 'BebasNeue-Regular';
  font-size: 20px;
}
.ct-cart main .ct-info-cart section .ct-info .ct-payment .ct-method .ct-types {
  border: 1px solid #dddddd;
  border-radius: .25rem;
  padding: 1em 2em;
}
@media screen and (max-width: 991.98px) and (min-width: 768px) {
  .ct-cart main .ct-info-cart section .ct-info .ct-payment .ct-method .ct-types {
    padding: 1em 2em 1em 1em;
  }
}
.ct-cart main .ct-info-cart section .ct-info .ct-payment .ct-method .ct-types .form-check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.ct-cart main .ct-info-cart section .ct-info .ct-payment .ct-method .ct-types .form-check:nth-child(2) {
  margin-top: 2em;
}
.ct-cart main .ct-info-cart section .ct-info .ct-payment .ct-method .ct-types .form-check img {
  margin-left: 1em;
  width: 100%;
}
.ct-cart main .ct-info-cart section .ct-info .ct-payment .ct-method .others img {
  width: 15em;
}
@media screen and (max-width: 575.98px) {
  .ct-cart main .ct-info-cart section .ct-info .ct-payment .ct-method .others img {
    width: 14em;
  }
}
@media screen and (max-width: 991.98px) {
  .ct-cart main .ct-info-cart section .ct-info .ct-payment .ct-voucher-pay {
    margin-top: 3em;
  }
}
.ct-cart main .ct-info-cart section .ct-info .ct-payment .ct-voucher-pay .piece {
  background: #eee;
  border-radius: .25rem;
  font-family: 'Roboto-Regular', sans-serif;
  padding: 2em 1.5em;
}
.ct-cart main .ct-info-cart section .ct-info .ct-payment .ct-voucher-pay .piece p {
  font-weight: bold;
  margin-bottom: 2em;
}
.ct-cart main .ct-info-cart section .ct-info .ct-payment .ct-voucher-pay .piece .btn-pay {
  background-color: #00aa9e;
  border: none;
  color: #FFF;
  cursor: pointer;
  display: block;
  font-family: 'Roboto-Medium';
  font-size: 14px;
  letter-spacing: 3px;
  padding: 1em 2em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
}
.ct-cart main .ct-info-cart section .ct-info .ct-voucher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 4em;
}
.ct-cart main .ct-info-cart section .ct-info .ct-voucher h2 {
  font-family: 'Roboto-Bold', sans-serif;
}
@media screen and (max-width: 767.98px) {
  .ct-cart main .ct-info-cart section .ct-info .ct-voucher h2 {
    font-size: 1.8em;
    text-align: center;
  }
}
.ct-cart main .ct-info-cart section .ct-info .ct-voucher p {
  font-family: 'Roboto-Medium', sans-serif;
  margin-top: 3em;
  text-align: center;
}
.ct-cart main .ct-info-cart section .ct-info .ct-voucher .ct-buttons {
  margin-top: 3em;
}
.ct-cart main .ct-info-cart section .ct-info .ct-voucher .ct-buttons .btn-send {
  background: #282828;
  border: none;
  color: #FFF;
  cursor: pointer;
  font-family: 'Roboto-Medium';
  font-size: 14px;
  letter-spacing: 2px;
  margin: 0 auto;
  padding: 1em 2em;
  text-decoration: none;
  text-transform: uppercase;
  width: 20em;
}
@media screen and (max-width: 767.98px) {
  .ct-cart main .ct-info-cart section .ct-info .ct-voucher .ct-buttons .btn-send {
    font-size: 12px;
    width: 18em;
  }
}
.ct-cart main .ct-info-cart section .ct-info .ct-voucher .ct-buttons .return {
  color: #00aa9e;
  cursor: pointer;
  font-family: 'Roboto-Medium', sans-serif;
  font-size: 18px;
  padding: 1em 2em;
  text-decoration: none;
}
@media screen and (max-width: 767.98px) {
  .ct-cart footer .ct-footer .section {
    text-align: center;
  }
}
.ct-cart footer .ct-footer .section:nth-child(1) {
  background-color: #00aa9e;
  padding: 2em;
}
.ct-cart footer .ct-footer .section:nth-child(1) a {
  color: #FFF;
  font-family: 'Roboto-Light';
  font-size: 15px;
  margin-left: 8em;
  text-decoration: none;
}
@media screen and (max-width: 1199.98px) {
  .ct-cart footer .ct-footer .section:nth-child(1) a {
    margin-left: 2em;
  }
}
@media screen and (max-width: 767.98px) {
  .ct-cart footer .ct-footer .section:nth-child(1) a {
    margin: 0;
  }
}
.ct-cart footer .ct-footer .section:nth-child(2) {
  background-color: #282828;
  padding: 0.5em 1em;
  text-align: right;
}
@media screen and (max-width: 767.98px) {
  .ct-cart footer .ct-footer .section:nth-child(2) {
    text-align: center;
  }
}
.ct-cart footer .ct-footer .section:nth-child(2) span {
  color: #555555;
  font-family: 'Roboto-Regular';
  font-weight: bold;
  margin-right: 8em;
  text-align: right;
  text-transform: uppercase;
}
@media screen and (max-width: 1199.98px) {
  .ct-cart footer .ct-footer .section:nth-child(2) span {
    margin-right: 2em;
  }
}
@media screen and (max-width: 767.98px) {
  .ct-cart footer .ct-footer .section:nth-child(2) span {
    margin: 0;
    text-align: center;
  }
}
.ct-contact {
  background-color: #eeeeee;
}
.ct-contact header .ct-nav {
  background-color: #FFF;
  border-bottom: 1px solid #dcdcdc;
  display: block;
  visibility: visible;
}
@media screen and (max-width: 767.98px) {
  .ct-contact header .ct-nav {
    display: none;
    visibility: hidden;
  }
}
.ct-contact header .ct-nav nav {
  display: table;
  margin: 0 auto;
  padding: 2vw 0px;
}
.ct-contact header .ct-nav nav a {
  color: #282828;
  font-family: 'Roboto-Medium';
  font-size: 1.2vw;
  display: table-cell;
  padding: 0px 1em;
  text-decoration: none;
}
.ct-contact header .ct-banner {
  background-image: url(../images/bk-banner-form.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5vw 4vw;
}
@media screen and (max-width: 767.98px) {
  .ct-contact header .ct-banner {
    margin-top: 4em;
  }
}
.ct-contact header .ct-banner h1 {
  font-family: 'BebasNeue-Regular';
  font-size: 6.8vw;
  line-height: 0.85;
  margin-top: 4vw;
  margin: 0 auto;
  text-align: center;
}
@media screen and (max-width: 767.98px) {
  .ct-contact header .ct-banner h1 {
    font-size: 5em;
  }
}
@media screen and (max-width: 575.98px) {
  .ct-contact header .ct-banner h1 {
    font-size: 12vw;
  }
}
.ct-contact main .ct-about {
  border-collapse: separate;
  border-spacing: 2vw 0px;
  padding: 2em 6vw;
}
@media screen and (max-width: 767.98px) {
  .ct-contact main .ct-about {
    padding: 2em;
  }
}
.ct-contact main .ct-about .date {
  background-color: #fde500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'BebasNeue-Regular';
  font-size: 6vw;
  line-height: 0.8;
  padding: 5.7vw;
  width: 4em;
}
@media screen and (min-width: 991.98px) {
  .ct-contact main .ct-about .date {
    height: 4em;
  }
}
@media screen and (max-width: 991.98px) {
  .ct-contact main .ct-about .date {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: .8em;
    width: 100%;
  }
}
@media screen and (max-width: 767.98px) {
  .ct-contact main .ct-about .date {
    font-size: 3em;
  }
}
.ct-contact main .ct-about .date span {
  margin: 0 auto;
  padding-top: 20px;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .ct-contact main .ct-about .date span {
    padding-top: 0 !important;
  }
}
@media screen and (max-width: 991.98px) {
  .ct-contact main .ct-about .date span {
    margin: 0 auto;
    padding: 0;
    position: relative;
  }
}
@media screen and (max-width: 575.98px) {
  .ct-contact main .ct-about .date span {
    text-align: center;
  }
}
.ct-contact main .ct-about .text-about {
  background-color: #FFF;
  left: 30px;
  padding: 4vw 8vw;
}
@media screen and (max-width: 991.98px) {
  .ct-contact main .ct-about .text-about {
    left: 0px;
  }
}
@media screen and (max-width: 575.98px) {
  .ct-contact main .ct-about .text-about {
    padding: 4vw 8vw 2em 8vw;
  }
}
.ct-contact main .ct-about .text-about h2 {
  font-family: 'BebasNeue-Regular';
  font-size: 3em;
  margin-bottom: .5em;
}
@media screen and (max-width: 575.98px) {
  .ct-contact main .ct-about .text-about h2 {
    font-size: 2.5em;
    text-align: center;
  }
}
.ct-contact main .ct-about .text-about p {
  font-family: 'Roboto-Light';
  font-size: 14px;
  text-align: justify;
}
@media screen and (max-width: 575.98px) {
  .ct-contact main .ct-about .text-about p {
    text-align: initial;
  }
}
.ct-contact main .ct-about .text-about p a {
  color: #000;
  font-weight: bold;
  text-decoration: none;
}
.ct-contact main .ct-about .text-about form {
  text-align: center;
}
.ct-contact main .ct-about .text-about form .input-group-text {
  background-color: #eeeeee;
  border-right: none;
  border-radius: 0;
}
.ct-contact main .ct-about .text-about form .input-group-text i,
.ct-contact main .ct-about .text-about form .input-group-text svg {
  color: #00aa9e;
}
.ct-contact main .ct-about .text-about form .form-control {
  background-color: #eeeeee;
  border-left: none;
  border-radius: 0;
  font-size: 15px;
}
.ct-contact main .ct-about .text-about form .custom-select {
  background-color: #eeeeee;
  border-left: none;
  border-radius: 0;
  font-size: 15px;
}
.ct-contact main .ct-about .text-about form .btn-submit {
  background-color: #00aa9e;
  border: none;
  color: #FFF;
  cursor: pointer;
  font-family: 'Roboto-Medium';
  font-size: 16px;
  letter-spacing: 3px;
  margin-top: 2em;
  padding: 1em 8em;
  text-transform: uppercase;
}
@media screen and (max-width: 991.98px) {
  .ct-contact main .ct-about .text-about form .btn-submit {
    font-size: 14px;
  }
}
@media screen and (max-width: 767.98px) {
  .ct-contact main .ct-about .text-about form .btn-submit {
    font-size: 12px;
    padding: 1em 4em;
    width: 100%;
  }
}
@media screen and (max-width: 767.98px) {
  .ct-contact footer .ct-footer .section {
    text-align: center;
  }
}
.ct-contact footer .ct-footer .section:nth-child(1) {
  background-color: #00aa9e;
  padding: 2em;
}
.ct-contact footer .ct-footer .section:nth-child(1) a {
  color: #FFF;
  font-family: 'Roboto-Light';
  font-size: 15px;
  margin-left: 8em;
  text-decoration: none;
}
@media screen and (max-width: 1199.98px) {
  .ct-contact footer .ct-footer .section:nth-child(1) a {
    margin-left: 2em;
  }
}
@media screen and (max-width: 767.98px) {
  .ct-contact footer .ct-footer .section:nth-child(1) a {
    margin: 0;
  }
}
.ct-contact footer .ct-footer .section:nth-child(2) {
  background-color: #282828;
  padding: 0.5em 1em;
  text-align: right;
}
@media screen and (max-width: 767.98px) {
  .ct-contact footer .ct-footer .section:nth-child(2) {
    text-align: center;
  }
}
.ct-contact footer .ct-footer .section:nth-child(2) span {
  color: #555555;
  font-family: 'Roboto-Regular';
  font-weight: bold;
  margin-right: 8em;
  text-align: right;
  text-transform: uppercase;
}
@media screen and (max-width: 1199.98px) {
  .ct-contact footer .ct-footer .section:nth-child(2) span {
    margin-right: 2em;
  }
}
@media screen and (max-width: 767.98px) {
  .ct-contact footer .ct-footer .section:nth-child(2) span {
    margin: 0;
    text-align: center;
  }
}

.text-red{
  color: red;
}